html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
	text-decoration: none;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

@-ms-viewport {
	width: device-width;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.row,
.wp-block-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -7.5px;
	margin-left: -7.5px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.wp-block-column,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.col-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.col-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.col-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.col-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.col-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.col-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.col-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.col-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.col-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.order-first {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.order-last {
	-webkit-box-ordinal-group: 14;
	-ms-flex-order: 13;
	order: 13;
}

.order-0 {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0;
}

.order-1 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.order-2 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.order-3 {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}

.order-4 {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 4;
	order: 4;
}

.order-5 {
	-webkit-box-ordinal-group: 6;
	-ms-flex-order: 5;
	order: 5;
}

.order-6 {
	-webkit-box-ordinal-group: 7;
	-ms-flex-order: 6;
	order: 6;
}

.order-7 {
	-webkit-box-ordinal-group: 8;
	-ms-flex-order: 7;
	order: 7;
}

.order-8 {
	-webkit-box-ordinal-group: 9;
	-ms-flex-order: 8;
	order: 8;
}

.order-9 {
	-webkit-box-ordinal-group: 10;
	-ms-flex-order: 9;
	order: 9;
}

.order-10 {
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
	order: 10;
}

.order-11 {
	-webkit-box-ordinal-group: 12;
	-ms-flex-order: 11;
	order: 11;
}

.order-12 {
	-webkit-box-ordinal-group: 13;
	-ms-flex-order: 12;
	order: 12;
}

.offset-1 {
	margin-left: 8.3333333333%;
}

.offset-2 {
	margin-left: 16.6666666667%;
}

.offset-3 {
	margin-left: 25%;
}

.offset-4 {
	margin-left: 33.3333333333%;
}

.offset-5 {
	margin-left: 41.6666666667%;
}

.offset-6 {
	margin-left: 50%;
}

.offset-7 {
	margin-left: 58.3333333333%;
}

.offset-8 {
	margin-left: 66.6666666667%;
}

.offset-9 {
	margin-left: 75%;
}

.offset-10 {
	margin-left: 83.3333333333%;
}

.offset-11 {
	margin-left: 91.6666666667%;
}

.col,
[class*="col-"],
.wp-block-column {
	padding-right: 7.5px;
	padding-left: 7.5px;
}

.d-none {
	display: none !important;
}

.d-inline {
	display: inline !important;
}

.d-inline-block {
	display: inline-block !important;
}

.d-block {
	display: block !important;
}

.d-table {
	display: table !important;
}

.d-table-row {
	display: table-row !important;
}

.d-table-cell {
	display: table-cell !important;
}

.d-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.d-inline-flex {
	display: -webkit-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
}

.flex-row {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.flex-column {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.flex-row-reverse {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: row-reverse !important;
	flex-direction: row-reverse !important;
}

.flex-column-reverse {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: column-reverse !important;
	flex-direction: column-reverse !important;
}

.flex-wrap {
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}

.flex-nowrap {
	-ms-flex-wrap: nowrap !important;
	flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
	-ms-flex-wrap: wrap-reverse !important;
	flex-wrap: wrap-reverse !important;
}

.flex-fill {
	-webkit-box-flex: 1 !important;
	-ms-flex: 1 1 auto !important;
	flex: 1 1 auto !important;
}

.flex-grow-0 {
	-webkit-box-flex: 0 !important;
	-ms-flex-positive: 0 !important;
	flex-grow: 0 !important;
}

.flex-grow-1 {
	-webkit-box-flex: 1 !important;
	-ms-flex-positive: 1 !important;
	flex-grow: 1 !important;
}

.flex-shrink-0 {
	-ms-flex-negative: 0 !important;
	flex-shrink: 0 !important;
}

.flex-shrink-1 {
	-ms-flex-negative: 1 !important;
	flex-shrink: 1 !important;
}

.justify-content-start {
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	justify-content: flex-start !important;
}

.justify-content-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}

.justify-content-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.justify-content-between {
	-webkit-box-pack: justify !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
}

.justify-content-around {
	-ms-flex-pack: distribute !important;
	justify-content: space-around !important;
}

.align-items-start {
	-webkit-box-align: start !important;
	-ms-flex-align: start !important;
	align-items: flex-start !important;
}

.align-items-end {
	-webkit-box-align: end !important;
	-ms-flex-align: end !important;
	align-items: flex-end !important;
}

.align-items-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.align-items-baseline {
	-webkit-box-align: baseline !important;
	-ms-flex-align: baseline !important;
	align-items: baseline !important;
}

.align-items-stretch {
	-webkit-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	align-items: stretch !important;
}

.align-content-start {
	-ms-flex-line-pack: start !important;
	align-content: flex-start !important;
}

.align-content-end {
	-ms-flex-line-pack: end !important;
	align-content: flex-end !important;
}

.align-content-center {
	-ms-flex-line-pack: center !important;
	align-content: center !important;
}

.align-content-between {
	-ms-flex-line-pack: justify !important;
	align-content: space-between !important;
}

.align-content-around {
	-ms-flex-line-pack: distribute !important;
	align-content: space-around !important;
}

.align-content-stretch {
	-ms-flex-line-pack: stretch !important;
	align-content: stretch !important;
}

.align-self-auto {
	-ms-flex-item-align: auto !important;
	align-self: auto !important;
}

.align-self-start {
	-ms-flex-item-align: start !important;
	align-self: flex-start !important;
}

.align-self-end {
	-ms-flex-item-align: end !important;
	align-self: flex-end !important;
}

.align-self-center {
	-ms-flex-item-align: center !important;
	align-self: center !important;
}

.align-self-baseline {
	-ms-flex-item-align: baseline !important;
	align-self: baseline !important;
}

.align-self-stretch {
	-ms-flex-item-align: stretch !important;
	align-self: stretch !important;
}

html {
	font-size: 62.5%;
}

body {
	line-height: 1.78;
}

html,
html a {
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.2;
}

.section-content .megaphone-menu-subscribe .header-el-label {
	line-height: 1.1;
}

.lh-1 {
	line-height: 1;
}

h4,
h5,
h6,
.h4,
.h5,
.h6,
.h7,
.h8 {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
}

.text-small {
	display: block;
	font-size: 12px;
	opacity: .8;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 15px;
	margin-top: 22.5px;
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-content .h1:first-child,
.entry-content .h2:first-child,
.entry-content .h3:first-child,
.entry-content .h4:first-child,
.entry-content .h5:first-child,
.entry-content .h6:first-child,
.comment-content h1:first-child,
.comment-content h2:first-child,
.comment-content h3:first-child,
.comment-content h4:first-child,
.comment-content h5:first-child,
.comment-content h6:first-child,
.comment-content .h1:first-child,
.comment-content .h2:first-child,
.comment-content .h3:first-child,
.comment-content .h4:first-child,
.comment-content .h5:first-child,
.comment-content .h6:first-child {
	margin-top: 0;
}

.entry-content .meks_ess+h1:first-of-type,
.entry-content .meks_ess+h2:first-of-type,
.entry-content .meks_ess+h3:first-of-type,
.entry-content .meks_ess+h4:first-of-type,
.entry-content .meks_ess+h5:first-of-type,
.entry-content .meks_ess+h6:first-of-type,
.entry-content .meks_ess+.h1:first-of-type,
.entry-content .meks_ess+.h2:first-of-type,
.entry-content .meks_ess+.h3:first-of-type,
.entry-content .meks_ess+.h4:first-of-type,
.entry-content .meks_ess+.h5:first-of-type,
.entry-content .meks_ess+.h6:first-of-type {
	margin-top: 0;
}

.entry-title {
	margin-bottom: 0;
}

p {
	margin-top: 0;
}

.entry-content p:last-child {
	margin-bottom: 0;
}

.entry-content p:last-child img {
	margin-top: 30px;
}

.paragraph-small {
	line-height: 1.6;
	font-size: 15px;
}

.paragraph-small p {
	margin-bottom: 20px;
}

.paragraph-small p:last-child {
	margin-bottom: 0;
}

.link-uppercase {
	font-size: 14px;
	line-height: 1.2;
	-webkit-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.link-uppercase i {
	margin-left: 2px;
}

.vertical-gutter-flow,
p,
.wp-block-column,
.wp-block .wp-block-quote,
.wp-block-image,
.wp-block .block-library-list ul,
.wp-block .block-library-list ol,
.wp-block-cover,
.wp-block-cover-image,
.wp-block-table,
.wp-block-separator,
.wp-block-media-text,
.wp-block-archives,
.wp-block-latest-comments,
.wp-block-embed,
address,
pre,
.wp-block .wp-block-pullquote,
.wp-block-preformatted,
.wp-block-verse,
.wp-block-code,
.wp-block-audio,
.wp-block-calendar,
.wp-block-search {
	margin-bottom: 15px;
}

a {
	-webkit-transition-duration: .15s;
	transition-duration: .15s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.entry-content a {
	border-bottom: 1px solid;
	-webkit-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

hr {
	border: 0;
	margin-top: 0;
	margin-bottom: 24px;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 24px;
	padding-left: 24px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
}

dl {
	margin-top: 0;
	margin-bottom: 24px;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 24px;
	margin-bottom: 24px;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

iframe {
	max-width: 100%;
	width: 100%;
}

figure {
	margin: 0 0 24px;
	max-width: 100%;
}

svg {
	display: block;
}

table {
	border-collapse: collapse;
	margin-bottom: 24px;
	width: 100%;
}

th {
	text-align: left;
}

th,
td {
	padding: 10px 16px;
}

figcaption {
	margin: 8px 0 0;
	font-size: 14px;
}

cite {
	font-style: normal;
}

cite em {
	font-style: italic;
}

pre {
	padding: 40px;
}

.list-reset {
	list-style: none;
	padding: 0;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.entry-media-rounded img,
.megaphone-rounded {
	border-radius: 50%;
}

.mt-sm-0 {
	margin-top: 0px;
}

.pt-sm-0 {
	padding-top: 0px;
}

.mb-sm-0 {
	margin-bottom: 0px;
}

.pb-sm-0 {
	padding-bottom: 0px;
}

.ml-sm-0 {
	margin-left: 0px;
}

.pl-sm-0 {
	padding-left: 0px;
}

.mr-sm-0 {
	margin-right: 0px;
}

.pr-sm-0 {
	padding-right: 0px;
}

.mt-sm-4 {
	margin-top: 4px;
}

.pt-sm-4 {
	padding-top: 4px;
}

.mb-sm-4 {
	margin-bottom: 4px;
}

.pb-sm-4 {
	padding-bottom: 4px;
}

.ml-sm-4 {
	margin-left: 4px;
}

.pl-sm-4 {
	padding-left: 4px;
}

.mr-sm-4 {
	margin-right: 4px;
}

.pr-sm-4 {
	padding-right: 4px;
}

.mt-sm-8 {
	margin-top: 8px;
}

.pt-sm-8 {
	padding-top: 8px;
}

.mb-sm-8 {
	margin-bottom: 8px;
}

.pb-sm-8 {
	padding-bottom: 8px;
}

.ml-sm-8 {
	margin-left: 8px;
}

.pl-sm-8 {
	padding-left: 8px;
}

.mr-sm-8 {
	margin-right: 8px;
}

.pr-sm-8 {
	padding-right: 8px;
}

.mt-sm-10 {
	margin-top: 10px;
}

.pt-sm-10 {
	padding-top: 10px;
}

.mb-sm-10 {
	margin-bottom: 10px;
}

.pb-sm-10 {
	padding-bottom: 10px;
}

.ml-sm-10 {
	margin-left: 10px;
}

.pl-sm-10 {
	padding-left: 10px;
}

.mr-sm-10 {
	margin-right: 10px;
}

.pr-sm-10 {
	padding-right: 10px;
}

.mt-sm-12 {
	margin-top: 12px;
}

.pt-sm-12 {
	padding-top: 12px;
}

.mb-sm-12 {
	margin-bottom: 12px;
}

.pb-sm-12 {
	padding-bottom: 12px;
}

.ml-sm-12 {
	margin-left: 12px;
}

.pl-sm-12 {
	padding-left: 12px;
}

.mr-sm-12 {
	margin-right: 12px;
}

.pr-sm-12 {
	padding-right: 12px;
}

.mt-sm-15 {
	margin-top: 15px;
}

.pt-sm-15 {
	padding-top: 15px;
}

.mb-sm-15 {
	margin-bottom: 15px;
}

.pb-sm-15 {
	padding-bottom: 15px;
}

.ml-sm-15 {
	margin-left: 15px;
}

.pl-sm-15 {
	padding-left: 15px;
}

.mr-sm-15 {
	margin-right: 15px;
}

.pr-sm-15 {
	padding-right: 15px;
}

.mt-sm-20 {
	margin-top: 20px;
}

.pt-sm-20 {
	padding-top: 20px;
}

.mb-sm-20 {
	margin-bottom: 20px;
}

.pb-sm-20 {
	padding-bottom: 20px;
}

.ml-sm-20 {
	margin-left: 20px;
}

.pl-sm-20 {
	padding-left: 20px;
}

.mr-sm-20 {
	margin-right: 20px;
}

.pr-sm-20 {
	padding-right: 20px;
}

.pl-48 {
	padding-left: 12px;
}

.pr-0 {
	padding-right: 0;
}

.padding-reset {
	padding: 0 !important;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.m-mc {
	margin-left: auto;
	margin-right: auto;
}

.m-mc-reset {
	margin-left: 0;
	margin-right: 0;
}

.megaphone-button,
.wp-block-button .wp-block-button__link,
input[type="submit"],
input[type="button"],
button[type="submit"],
.megaphone-pagination a,
ul.page-numbers a,
ul.page-numbers .current,
.comment-reply-link,
#cancel-comment-reply-link,
.meks-instagram-follow-link .meks-widget-cta,
.mks_autor_link_wrap a,
.mks_read_more a,
.paginated-post-wrapper a,
.entry-content .megaphone-button,
.entry-content .wp-block-button .wp-block-button__link,
.wp-block-button .entry-content .wp-block-button__link {
	font-size: 12px;
	line-height: 1.2;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 36px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 30px;
	border-radius: 25px;
	border: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border: none;
}

.entry-content .megaphone-button,
.entry-content .wp-block-button .wp-block-button__link,
.wp-block-button .entry-content .wp-block-button__link {
	border-bottom: 0;
}

.entry-content .megaphone-button:hover,
.entry-content .wp-block-button .wp-block-button__link:hover,
.wp-block-button .entry-content .wp-block-button__link:hover {
	text-decoration: none;
}

.megaphone-overlay .megaphone-button,
.megaphone-overlay .wp-block-button .wp-block-button__link,
.wp-block-button .megaphone-overlay .wp-block-button__link {
	background: #FFF;
	color: #333;
	border: none;
}

.megaphone-overlay .megaphone-button-hollow {
	background: transparent;
	color: #FFF;
}

.megaphone-button i,
.wp-block-button .wp-block-button__link i {
	margin-right: 8px;
}

.megaphone-button-large,
.wp-block-button .wp-block-button__link {
	padding: 12.5px 25px;
}

.megaphone-button-medium {
	padding: 0 24px;
	height: 36px;
}

.megaphone-button-small {
	font-size: 14px;
	padding: 5px 25px;
}

ul.page-numbers {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.megaphone-button-circle,
.paginated-post-wrapper a,
.paginated-post-wrapper .current,
ul.page-numbers a {
	height: 40px;
	width: 40px;
	line-height: 40px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.paginated-post-wrapper .megaphone-button.current,
.paginated-post-wrapper .wp-block-button .current.wp-block-button__link,
.wp-block-button .paginated-post-wrapper .current.wp-block-button__link {
	pointer-events: none;
}

.paginated-post-wrapper a,
.paginated-post-wrapper .current,
ul.page-numbers a,
ul.page-numbers .current {
	padding: 0;
	text-decoration: none;
}

ul.page-numbers a,
ul.page-numbers .current {
	margin: 0 4px;
	width: 40px;
	padding: 0;
}

.button-disabled {
	opacity: .5;
	pointer-events: none;
}

p.has-drop-cap:not(:focus)::first-letter {
	font-size: 110px;
	float: left;
	line-height: 0.8;
	margin-right: 25px;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

.has-huge-font-size,
.has-large-font-size {
	line-height: 1.6;
}

p.has-background {
	padding: 30px 40px;
}

.wp-block-image {
	font-size: 0;
	max-width: 100%;
}

.wp-block-image.alignfull {
	max-width: initial;
}

.wp-block-image figcaption {
	color: inherit;
	margin: 8px 0 0;
	font-size: 14px;
}

.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
	width: 100%;
}

.alignfull figcaption {
	text-align: center;
}

.has-parallax.alignwide {
	left: 0 !important;
	-webkit-transform: none !important;
	transform: none !important;
}

.entry-content ul>li,
.entry-content ol>li,
.comment-content ul>li,
.comment-content ol>li {
	margin-bottom: 10px;
	line-height: 1.6;
}

.entry-content ul>li:last-child,
.entry-content ol>li:last-child,
.comment-content ul>li:last-child,
.comment-content ol>li:last-child {
	margin-bottom: 0;
}

.entry-content li>ul,
.entry-content li>ol,
.comment-content li>ul,
.comment-content li>ol {
	margin-top: 10px;
}

.wp-block-gallery {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.wp-block-gallery a {
	border-bottom: 0;
}

.wp-block-gallery figure {
	margin: 8px 0 0;
	font-size: 14px;
}

.entry-content li.blocks-gallery-item:before {
	display: none;
}

.entry-content ul>li.blocks-gallery-item:last-child {
	margin-bottom: 12px;
}

li.blocks-gallery-item figure {
	margin-bottom: 0;
}

.wp-block-gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

.entry-content>.wp-block-gallery {
	margin-bottom: 15px;
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 12px 12px 0;
	position: relative;
}

.wp-block-gallery .blocks-gallery-image figure,
.wp-block-gallery .blocks-gallery-item figure {
	height: 100%;
	margin: 0;
}

.columns-6 figcaption,
.columns-7 figcaption,
.columns-8 figcaption {
	display: none;
}

.wp-block-cover,
.entry-content .wp-block-cover,
.wp-block-cover-image,
.entry-content .wp-block-cover-image {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-position: 50%;
	background-size: cover;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 300px;
	position: relative;
	min-width: 100%;
	overflow: hidden;
}

.entry-content .wp-block-cover.alignleft,
.entry-content .wp-block-cover.alignright {
	margin-top: 0;
}

.wp-block-cover-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover p {
	color: #fff;
	line-height: 1.25;
	margin-bottom: 0;
	max-width: 526px;
	z-index: 1;
	padding: 0 50px;
	margin-left: auto;
	margin-right: auto;
	word-break: break-word;
}

.megaphone-sidebar-right .wp-block-cover-image .wp-block-cover-image-text,
.megaphone-sidebar-right .wp-block-cover-image .wp-block-cover-text,
.megaphone-sidebar-right .wp-block-cover-image h2,
.megaphone-sidebar-right .wp-block-cover .wp-block-cover-image-text,
.megaphone-sidebar-right .wp-block-cover .wp-block-cover-text,
.megaphone-sidebar-right .wp-block-cover h2,
.megaphone-sidebar-right .wp-block-cover p,
.megaphone-sidebar-left .wp-block-cover-image .wp-block-cover-image-text,
.megaphone-sidebar-left .wp-block-cover-image .wp-block-cover-text,
.megaphone-sidebar-left .wp-block-cover-image h2,
.megaphone-sidebar-left .wp-block-cover .wp-block-cover-image-text,
.megaphone-sidebar-left .wp-block-cover .wp-block-cover-text,
.megaphone-sidebar-left .wp-block-cover h2,
.megaphone-sidebar-left .wp-block-cover p {
	padding: 14px 48px;
}

.entry-content .wp-block-cover a,
.wp-block-cover a {
	color: #FFF;
}

table {
	table-layout: auto;
	width: 100%;
	max-width: 100%;
}

td,
th {
	padding: 10px 20px 10px 0;
	min-height: 45px;
	text-align: left;
	line-height: 1.4;
}

th {
	font-weight: bold;
}

.wp-block-table.is-style-stripes tr,
.wp-block-table.is-style-stripes {
	border-bottom: none;
}

.is-style-stripes td,
.is-style-stripes th {
	padding: 10px 20px 10px 20px;
}

.entry-content .wp-block-button .wp-block-button__link,
.wp-block-button .wp-block-button__link {
	height: auto !important;
	padding-top: 14px;
	padding-bottom: 14px;
}

.is-style-squared .wp-block-button__link,
.entry-content .is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.wp-block-button.alignleft,
.megaphone-sidebar-none .wp-block-button.alignleft {
	margin-left: 0;
	margin-top: 7px;
	float: left;
	margin-right: 20px;
}

.megaphone-sidebar-none .entry-content .wp-block-button.alignleft {
	margin-left: 0;
}

.megaphone-sidebar-none .entry-content .wp-block-button.alignright {
	margin-right: 0;
}

.wp-block-button.alignright,
.megaphone-sidebar-none .wp-block-button.alignright {
	margin-right: 0;
	margin-top: 7px;
	float: right;
	margin-left: 20px;
}

blockquote {
	font-size: 24px;
	line-height: 1.67;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

blockquote p:only-of-type {
	margin-bottom: 0;
}

blockquote cite,
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
	font-size: 16px;
	line-height: 1.2;
}

.wp-block-quote {
	position: relative;
}

.wp-block-quote:before {
	top: 0px;
	width: 53px;
	height: 37px;
	left: -10px;
	content: "";
	position: absolute;
	z-index: -1;
	display: block;
	-webkit-mask: url(../img/razor_shape_big.svg) no-repeat center;
	mask: url(../img/razor_shape_big.svg) no-repeat center;
	-webkit-mask-size: contain;
	mask-size: contain;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	padding: 0;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-size: 28px;
	font-style: normal;
	line-height: 1.6;
}

.wp-block-pullquote p,
.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 24px;
	line-height: 1.67;
}

.wp-block-pullquote {
	border-top: 4px solid;
	border-bottom: 4px solid;
	max-width: initial;
}

body.megaphone-sidebar-left .wp-block-pullquote,
body.megaphone-sidebar-right .wp-block-pullquote {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-pullquote.alignfull.is-style-default>*,
.wp-block-pullquote.alignwide>*,
.wp-block-pullquote.alignwide.is-style-solid-color>*,
.wp-block-pullquote.alignfull.is-style-solid-color>*,
.wp-block-pullquote.is-style-solid-color blockquote,
.wp-block-pullquote.alignfull blockquote {
	max-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: inherit;
}

.wp-block-pullquote.alignwide {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-pullquote>blockquote {
	margin-bottom: 0;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	margin-top: 10px;
	margin-bottom: 15px;
	max-width: 100%;
	text-align: left;
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p,
.wp-block-pullquote.is-style-solid-color.alignleft blockquote p,
.wp-block-pullquote.is-style-solid-color.alignright blockquote p {
	font-size: 18px;
}

.entry-content .wp-block-pullquote p:last-child {
	margin-bottom: 0;
}

.wp-block-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.wp-block-column p:last-child {
	margin-bottom: 0;
}

.wp-block-column:not(:last-child),
.wp-block-column:nth-child(odd) {
	margin-right: 0;
}

.wp-block-column:not(:first-child),
.wp-block-column:nth-child(even) {
	margin-left: 0;
}

audio,
canvas,
progress,
video {
	width: 100%;
}

.wp-block-embed__wrapper .twitter-tweet {
	margin: 0 auto;
}

.wp-block-separator.is-style-dots {
	background: none;
	border: none;
	height: auto;
	line-height: 1;
	max-width: none;
	text-align: center;
}

.wp-block-separator.is-style-dots:before {
	content: ". . . . . . . . . . . . . . . . . . . . ";
	font-family: serif;
	font-size: 20px;
	letter-spacing: 0;
	padding-left: 0;
	opacity: .3;
}

.wp-block-separator.is-style-default,
.wp-block-separator,
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 230px;
}

.wp-block-separator.is-style-wide {
	max-width: 100%;
}

hr {
	border: none;
	height: 2px;
	width: 100%;
	display: block;
	background: rgba(0,0,0,0.1);
}

.wp-block-calendar table th,
.wp-block-calendar tbody td,
.wp-block-calendar th {
	text-align: center;
}

.entry-content .wp-block-calendar tfoot tr,
.wp-block-calendar tfoot tr {
	border-bottom: none;
}

.wp-block-calendar caption {
	font-size: 12px;
	margin-bottom: 8px;
}

.wp-block-calendar table {
	table-layout: fixed;
	font-size: 14px;
}

.wp-block-calendar a {
	text-decoration: none;
}

.wp-block-tag-cloud {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
}

.wp-block-tag-cloud a,
.entry-content .wp-block-tag-cloud a {
	font-size: 12px !important;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 32px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 24px;
	border-radius: 25px;
	text-transform: uppercase;
	-webkit-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;
	text-decoration: none;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-bottom: 5px;
	margin-right: 5px;
	border-bottom: none;
}

.entry-content .wp-block-tag-cloud a:hover {
	text-decoration: none;
}

.wp-block-search .wp-block-search__button {
	margin-left: 0;
	margin-top: 10px;
}

.entry-content .wp-block-rss li,
.wp-block-rss li {
	margin-bottom: 25px;
}

.entry-content .wp-block-rss li:last-child,
.wp-block-rss li:last-child {
	margin-bottom: 0;
}

.wp-block-rss__item-author,
.wp-block-rss__item-publish-date {
	font-size: 12px;
}

.wp-block-latest-comments {
	padding: 0;
}

.wp-block-latest-posts,
.wp-block-categories,
.wp-block-archives {
	list-style: none;
	padding: 0;
}

.wp-block-latest-posts a,
.wp-block-categories a,
.wp-block-archives a {
	border: none;
}

.wp-block-latest-posts .children,
.wp-block-categories .children,
.wp-block-archives .children {
	list-style: none;
}

.wp-block-categories li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.wp-block-archives li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.wp-block-archives .count,
.wp-block-categories .count {
	height: 32px;
	width: 32px;
	left: 0;
	z-index: 1;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	border-radius: 50%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0;
	margin-right: 10px;
}

.mce-content-body {
	line-height: 1.625;
}

.wp-block[data-align="left"]:not([data-type="core/button"]) .editor-block-list__block-edit,
.wp-block-cover.alignleft {
	position: relative;
	margin-right: 0;
	float: none;
	margin-bottom: 0;
}

.wp-block[data-align="left"]:not([data-type="core/button"]) .editor-block-list__block-edit {
	margin-left: 0;
}

.wp-block[data-align="right"]:not([data-type="core/button"]) .editor-block-list__block-edit,
.wp-block-cover.alignright {
	position: relative;
	margin-bottom: 0;
	margin-left: 0;
	float: none;
}

.wp-block[data-align="right"]:not([data-type="core/button"]) .editor-block-list__block-edit {
	margin-right: 0;
}

button.components-button {
	font-size: 13px;
}

.wp-block .wp-block-cover p {
	padding: 0;
}

.wp-block .wp-block-gallery .blocks-gallery-item:last-child {
	margin-right: 0;
}

.wp-block .block-library-list ol>li,
.wp-block .block-library-list ul>li,
.wp-block-archives-list>li,
.wp-block-latest-posts>li,
.wp-block-categories__list>li {
	margin-bottom: 10px;
	line-height: 1.6;
}

.wp-block .block-library-list ol>li ul,
.wp-block .block-library-list ol>li ol,
.wp-block .block-library-list ul>li ul,
.wp-block .block-library-list ul>li ol,
.wp-block-archives-list>li ul,
.wp-block-archives-list>li ol,
.wp-block-latest-posts>li ul,
.wp-block-latest-posts>li ol,
.wp-block-categories__list>li ul,
.wp-block-categories__list>li ol {
	margin-top: 10px;
	margin-bottom: 0;
}

.wp-block-table td,
.wp-block-table th {
	border: none;
}

.wp-block-table__cell-content {
	padding: 0;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align=full] {
	overflow: hidden;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align=full]>.block-editor-block-list__block-edit figure {
	width: auto;
}

.wp-block .wp-block-columns {
	display: block;
}

.wp-block-columns .block-editor-block-list__layout {
	margin-left: 10px;
	margin-right: 10px;
}

.wp-block .wp-block-quote:before {
	z-index: 1;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: none;
	padding-left: 0;
}

.wp-block-quote p:last-child {
	margin-bottom: 0;
}

.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
	color: inherit;
	font-size: 16px;
	font-weight: normal;
	text-transform: none;
}

.wp-block[data-align=wide] blockquote,
.wp-block[data-align=full] blockquote {
	max-width: 525px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.wp-block[data-align="left"] .wp-block-pullquote,
.wp-block[data-align="right"] .wp-block-pullquote,
.wp-block[data-align="left"] .wp-block-cover,
.wp-block[data-align="right"] .wp-block-cover {
	max-width: 305px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 30px 35px;
	text-align: left;
}

.editor-block-list__block[data-align=left] .editor-block-list__block-edit .wp-block-pullquote {
	margin-right: 24px;
}

.editor-block-list__block[data-align=right] .editor-block-list__block-edit .wp-block-pullquote {
	margin-left: 24px;
}

.wp-block-pullquote p:last-child {
	margin-bottom: 24px;
}

.wp-block-cover .wp-block-cover-text {
	padding: 14px 48px;
}

.wp-block-code {
	border: none;
	padding: 40px;
	border-radius: 0;
}

.wp-block .wp-block-archives,
.wp-block .wp-block-categories ul {
	padding: 0;
}

.wp-block .wp-block-categories__list>li {
	list-style: none;
}

.wp-block[data-align="left"] .wp-block-cover,
.wp-block[data-align="right"] .wp-block-cover {
	width: 305px;
}

.wp-block-rss {
	padding-left: 0;
}

.wp-block-rss li {
	margin-bottom: 10px;
}

.wp-block-search__input {
	-webkit-backface-visibility: hidden;
	background: 0 0;
	border: 1px solid initial;
	padding: 0 20px;
	outline: 0;
	line-height: 40px;
	width: 100%;
	font-size: 100%;
	margin: 0;
	height: 40px;
	vertical-align: baseline;
	background: 0 0;
	font-size: 16px;
}

.wp-block-search__button {
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 40px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 30px;
	border-radius: 25px;
	border: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border: none;
	margin-left: 0;
	margin-top: 10px;
}

.wp-block-search__label {
	font-size: 14px;
	line-height: 1.2;
	display: block;
	margin-bottom: 5px;
	cursor: pointer;
	opacity: .8;
}

.wp-block-archives select {
	width: 100%;
	background: #fff;
	cursor: pointer;
	padding: 0 20px;
	outline: 0;
	line-height: 40px;
	font-size: 16px;
	margin: 0;
	height: 40px;
	vertical-align: baseline;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wp-block-latest-comments__comment-excerpt p,
.wp-block-latest-comments__comment {
	margin-bottom: 20px;
}

.block-library-media-text__media-container {
	margin-bottom: 0;
}

.wp-block-preformatted pre {
	white-space: nowrap !important;
}

@media (min-width: 374px) {

.container {
	padding-right: 15px;
	padding-left: 15px;
}

.container {
	max-width: 364px;
}

.row,
.wp-block-columns {
	margin-right: -7.5px;
	margin-left: -7.5px;
}

.col-sm {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-sm-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.col-sm-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.col-sm-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.col-sm-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-sm-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.col-sm-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.col-sm-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-sm-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.col-sm-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.col-sm-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-sm-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.col-sm-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.col-sm-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.order-sm-first {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.order-sm-last {
	-webkit-box-ordinal-group: 14;
	-ms-flex-order: 13;
	order: 13;
}

.order-sm-0 {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0;
}

.order-sm-1 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.order-sm-2 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.order-sm-3 {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}

.order-sm-4 {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 4;
	order: 4;
}

.order-sm-5 {
	-webkit-box-ordinal-group: 6;
	-ms-flex-order: 5;
	order: 5;
}

.order-sm-6 {
	-webkit-box-ordinal-group: 7;
	-ms-flex-order: 6;
	order: 6;
}

.order-sm-7 {
	-webkit-box-ordinal-group: 8;
	-ms-flex-order: 7;
	order: 7;
}

.order-sm-8 {
	-webkit-box-ordinal-group: 9;
	-ms-flex-order: 8;
	order: 8;
}

.order-sm-9 {
	-webkit-box-ordinal-group: 10;
	-ms-flex-order: 9;
	order: 9;
}

.order-sm-10 {
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
	order: 10;
}

.order-sm-11 {
	-webkit-box-ordinal-group: 12;
	-ms-flex-order: 11;
	order: 11;
}

.order-sm-12 {
	-webkit-box-ordinal-group: 13;
	-ms-flex-order: 12;
	order: 12;
}

.offset-sm-0 {
	margin-left: 0;
}

.offset-sm-1 {
	margin-left: 8.3333333333%;
}

.offset-sm-2 {
	margin-left: 16.6666666667%;
}

.offset-sm-3 {
	margin-left: 25%;
}

.offset-sm-4 {
	margin-left: 33.3333333333%;
}

.offset-sm-5 {
	margin-left: 41.6666666667%;
}

.offset-sm-6 {
	margin-left: 50%;
}

.offset-sm-7 {
	margin-left: 58.3333333333%;
}

.offset-sm-8 {
	margin-left: 66.6666666667%;
}

.offset-sm-9 {
	margin-left: 75%;
}

.offset-sm-10 {
	margin-left: 83.3333333333%;
}

.offset-sm-11 {
	margin-left: 91.6666666667%;
}

.col,
[class*="col-"],
.wp-block-column {
	padding-right: 7.5px;
	padding-left: 7.5px;
}

.d-sm-none {
	display: none !important;
}

.d-sm-inline {
	display: inline !important;
}

.d-sm-inline-block {
	display: inline-block !important;
}

.d-sm-block {
	display: block !important;
}

.d-sm-table {
	display: table !important;
}

.d-sm-table-row {
	display: table-row !important;
}

.d-sm-table-cell {
	display: table-cell !important;
}

.d-sm-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.d-sm-inline-flex {
	display: -webkit-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
}

.flex-sm-row {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.flex-sm-column {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.flex-sm-row-reverse {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: row-reverse !important;
	flex-direction: row-reverse !important;
}

.flex-sm-column-reverse {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: column-reverse !important;
	flex-direction: column-reverse !important;
}

.flex-sm-wrap {
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}

.flex-sm-nowrap {
	-ms-flex-wrap: nowrap !important;
	flex-wrap: nowrap !important;
}

.flex-sm-wrap-reverse {
	-ms-flex-wrap: wrap-reverse !important;
	flex-wrap: wrap-reverse !important;
}

.flex-sm-fill {
	-webkit-box-flex: 1 !important;
	-ms-flex: 1 1 auto !important;
	flex: 1 1 auto !important;
}

.flex-sm-grow-0 {
	-webkit-box-flex: 0 !important;
	-ms-flex-positive: 0 !important;
	flex-grow: 0 !important;
}

.flex-sm-grow-1 {
	-webkit-box-flex: 1 !important;
	-ms-flex-positive: 1 !important;
	flex-grow: 1 !important;
}

.flex-sm-shrink-0 {
	-ms-flex-negative: 0 !important;
	flex-shrink: 0 !important;
}

.flex-sm-shrink-1 {
	-ms-flex-negative: 1 !important;
	flex-shrink: 1 !important;
}

.justify-content-sm-start {
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	justify-content: flex-start !important;
}

.justify-content-sm-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}

.justify-content-sm-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.justify-content-sm-between {
	-webkit-box-pack: justify !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
}

.justify-content-sm-around {
	-ms-flex-pack: distribute !important;
	justify-content: space-around !important;
}

.align-items-sm-start {
	-webkit-box-align: start !important;
	-ms-flex-align: start !important;
	align-items: flex-start !important;
}

.align-items-sm-end {
	-webkit-box-align: end !important;
	-ms-flex-align: end !important;
	align-items: flex-end !important;
}

.align-items-sm-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.align-items-sm-baseline {
	-webkit-box-align: baseline !important;
	-ms-flex-align: baseline !important;
	align-items: baseline !important;
}

.align-items-sm-stretch {
	-webkit-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	align-items: stretch !important;
}

.align-content-sm-start {
	-ms-flex-line-pack: start !important;
	align-content: flex-start !important;
}

.align-content-sm-end {
	-ms-flex-line-pack: end !important;
	align-content: flex-end !important;
}

.align-content-sm-center {
	-ms-flex-line-pack: center !important;
	align-content: center !important;
}

.align-content-sm-between {
	-ms-flex-line-pack: justify !important;
	align-content: space-between !important;
}

.align-content-sm-around {
	-ms-flex-line-pack: distribute !important;
	align-content: space-around !important;
}

.align-content-sm-stretch {
	-ms-flex-line-pack: stretch !important;
	align-content: stretch !important;
}

.align-self-sm-auto {
	-ms-flex-item-align: auto !important;
	align-self: auto !important;
}

.align-self-sm-start {
	-ms-flex-item-align: start !important;
	align-self: flex-start !important;
}

.align-self-sm-end {
	-ms-flex-item-align: end !important;
	align-self: flex-end !important;
}

.align-self-sm-center {
	-ms-flex-item-align: center !important;
	align-self: center !important;
}

.align-self-sm-baseline {
	-ms-flex-item-align: baseline !important;
	align-self: baseline !important;
}

.align-self-sm-stretch {
	-ms-flex-item-align: stretch !important;
	align-self: stretch !important;
}

}

@media only screen and (min-width: 374px) {

.wp-block-pullquote.alignfull.is-style-default>*,
.wp-block-pullquote.alignwide>*,
.wp-block-pullquote.alignwide.is-style-solid-color>*,
.wp-block-pullquote.alignfull.is-style-solid-color>*,
.wp-block-pullquote.is-style-solid-color blockquote,
.wp-block-pullquote.alignfull blockquote {
	max-width: 351px;
}

}

@media (min-width: 600px) {

.container {
	padding-right: 30px;
	padding-left: 30px;
}

.container {
	max-width: 758px;
}

.row,
.wp-block-columns {
	margin-right: -15px;
	margin-left: -15px;
}

.col-md {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-md-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.col-md-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.col-md-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.col-md-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-md-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.col-md-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.col-md-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-md-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.col-md-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.col-md-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-md-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.col-md-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.col-md-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.order-md-first {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.order-md-last {
	-webkit-box-ordinal-group: 14;
	-ms-flex-order: 13;
	order: 13;
}

.order-md-0 {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0;
}

.order-md-1 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.order-md-2 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.order-md-3 {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}

.order-md-4 {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 4;
	order: 4;
}

.order-md-5 {
	-webkit-box-ordinal-group: 6;
	-ms-flex-order: 5;
	order: 5;
}

.order-md-6 {
	-webkit-box-ordinal-group: 7;
	-ms-flex-order: 6;
	order: 6;
}

.order-md-7 {
	-webkit-box-ordinal-group: 8;
	-ms-flex-order: 7;
	order: 7;
}

.order-md-8 {
	-webkit-box-ordinal-group: 9;
	-ms-flex-order: 8;
	order: 8;
}

.order-md-9 {
	-webkit-box-ordinal-group: 10;
	-ms-flex-order: 9;
	order: 9;
}

.order-md-10 {
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
	order: 10;
}

.order-md-11 {
	-webkit-box-ordinal-group: 12;
	-ms-flex-order: 11;
	order: 11;
}

.order-md-12 {
	-webkit-box-ordinal-group: 13;
	-ms-flex-order: 12;
	order: 12;
}

.offset-md-0 {
	margin-left: 0;
}

.offset-md-1 {
	margin-left: 8.3333333333%;
}

.offset-md-2 {
	margin-left: 16.6666666667%;
}

.offset-md-3 {
	margin-left: 25%;
}

.offset-md-4 {
	margin-left: 33.3333333333%;
}

.offset-md-5 {
	margin-left: 41.6666666667%;
}

.offset-md-6 {
	margin-left: 50%;
}

.offset-md-7 {
	margin-left: 58.3333333333%;
}

.offset-md-8 {
	margin-left: 66.6666666667%;
}

.offset-md-9 {
	margin-left: 75%;
}

.offset-md-10 {
	margin-left: 83.3333333333%;
}

.offset-md-11 {
	margin-left: 91.6666666667%;
}

.col,
[class*="col-"],
.wp-block-column {
	padding-right: 15px;
	padding-left: 15px;
}

.d-md-none {
	display: none !important;
}

.d-md-inline {
	display: inline !important;
}

.d-md-inline-block {
	display: inline-block !important;
}

.d-md-block {
	display: block !important;
}

.d-md-table {
	display: table !important;
}

.d-md-table-row {
	display: table-row !important;
}

.d-md-table-cell {
	display: table-cell !important;
}

.d-md-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.d-md-inline-flex {
	display: -webkit-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
}

.flex-md-row {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.flex-md-column {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.flex-md-row-reverse {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: row-reverse !important;
	flex-direction: row-reverse !important;
}

.flex-md-column-reverse {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: column-reverse !important;
	flex-direction: column-reverse !important;
}

.flex-md-wrap {
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}

.flex-md-nowrap {
	-ms-flex-wrap: nowrap !important;
	flex-wrap: nowrap !important;
}

.flex-md-wrap-reverse {
	-ms-flex-wrap: wrap-reverse !important;
	flex-wrap: wrap-reverse !important;
}

.flex-md-fill {
	-webkit-box-flex: 1 !important;
	-ms-flex: 1 1 auto !important;
	flex: 1 1 auto !important;
}

.flex-md-grow-0 {
	-webkit-box-flex: 0 !important;
	-ms-flex-positive: 0 !important;
	flex-grow: 0 !important;
}

.flex-md-grow-1 {
	-webkit-box-flex: 1 !important;
	-ms-flex-positive: 1 !important;
	flex-grow: 1 !important;
}

.flex-md-shrink-0 {
	-ms-flex-negative: 0 !important;
	flex-shrink: 0 !important;
}

.flex-md-shrink-1 {
	-ms-flex-negative: 1 !important;
	flex-shrink: 1 !important;
}

.justify-content-md-start {
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	justify-content: flex-start !important;
}

.justify-content-md-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}

.justify-content-md-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.justify-content-md-between {
	-webkit-box-pack: justify !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
}

.justify-content-md-around {
	-ms-flex-pack: distribute !important;
	justify-content: space-around !important;
}

.align-items-md-start {
	-webkit-box-align: start !important;
	-ms-flex-align: start !important;
	align-items: flex-start !important;
}

.align-items-md-end {
	-webkit-box-align: end !important;
	-ms-flex-align: end !important;
	align-items: flex-end !important;
}

.align-items-md-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.align-items-md-baseline {
	-webkit-box-align: baseline !important;
	-ms-flex-align: baseline !important;
	align-items: baseline !important;
}

.align-items-md-stretch {
	-webkit-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	align-items: stretch !important;
}

.align-content-md-start {
	-ms-flex-line-pack: start !important;
	align-content: flex-start !important;
}

.align-content-md-end {
	-ms-flex-line-pack: end !important;
	align-content: flex-end !important;
}

.align-content-md-center {
	-ms-flex-line-pack: center !important;
	align-content: center !important;
}

.align-content-md-between {
	-ms-flex-line-pack: justify !important;
	align-content: space-between !important;
}

.align-content-md-around {
	-ms-flex-line-pack: distribute !important;
	align-content: space-around !important;
}

.align-content-md-stretch {
	-ms-flex-line-pack: stretch !important;
	align-content: stretch !important;
}

.align-self-md-auto {
	-ms-flex-item-align: auto !important;
	align-self: auto !important;
}

.align-self-md-start {
	-ms-flex-item-align: start !important;
	align-self: flex-start !important;
}

.align-self-md-end {
	-ms-flex-item-align: end !important;
	align-self: flex-end !important;
}

.align-self-md-center {
	-ms-flex-item-align: center !important;
	align-self: center !important;
}

.align-self-md-baseline {
	-ms-flex-item-align: baseline !important;
	align-self: baseline !important;
}

.align-self-md-stretch {
	-ms-flex-item-align: stretch !important;
	align-self: stretch !important;
}

.mt-md-0 {
	margin-top: 0px;
}

.pt-md-0 {
	padding-top: 0px;
}

.mb-md-0 {
	margin-bottom: 0px;
}

.pb-md-0 {
	padding-bottom: 0px;
}

.ml-md-0 {
	margin-left: 0px;
}

.pl-md-0 {
	padding-left: 0px;
}

.mr-md-0 {
	margin-right: 0px;
}

.pr-md-0 {
	padding-right: 0px;
}

.mt-md-4 {
	margin-top: 4px;
}

.pt-md-4 {
	padding-top: 4px;
}

.mb-md-4 {
	margin-bottom: 4px;
}

.pb-md-4 {
	padding-bottom: 4px;
}

.ml-md-4 {
	margin-left: 4px;
}

.pl-md-4 {
	padding-left: 4px;
}

.mr-md-4 {
	margin-right: 4px;
}

.pr-md-4 {
	padding-right: 4px;
}

.mt-md-8 {
	margin-top: 8px;
}

.pt-md-8 {
	padding-top: 8px;
}

.mb-md-8 {
	margin-bottom: 8px;
}

.pb-md-8 {
	padding-bottom: 8px;
}

.ml-md-8 {
	margin-left: 8px;
}

.pl-md-8 {
	padding-left: 8px;
}

.mr-md-8 {
	margin-right: 8px;
}

.pr-md-8 {
	padding-right: 8px;
}

.mt-md-10 {
	margin-top: 10px;
}

.pt-md-10 {
	padding-top: 10px;
}

.mb-md-10 {
	margin-bottom: 10px;
}

.pb-md-10 {
	padding-bottom: 10px;
}

.ml-md-10 {
	margin-left: 10px;
}

.pl-md-10 {
	padding-left: 10px;
}

.mr-md-10 {
	margin-right: 10px;
}

.pr-md-10 {
	padding-right: 10px;
}

.mt-md-12 {
	margin-top: 12px;
}

.pt-md-12 {
	padding-top: 12px;
}

.mb-md-12 {
	margin-bottom: 12px;
}

.pb-md-12 {
	padding-bottom: 12px;
}

.ml-md-12 {
	margin-left: 12px;
}

.pl-md-12 {
	padding-left: 12px;
}

.mr-md-12 {
	margin-right: 12px;
}

.pr-md-12 {
	padding-right: 12px;
}

.mt-md-15 {
	margin-top: 15px;
}

.pt-md-15 {
	padding-top: 15px;
}

.mb-md-15 {
	margin-bottom: 15px;
}

.pb-md-15 {
	padding-bottom: 15px;
}

.ml-md-15 {
	margin-left: 15px;
}

.pl-md-15 {
	padding-left: 15px;
}

.mr-md-15 {
	margin-right: 15px;
}

.pr-md-15 {
	padding-right: 15px;
}

.mt-md-20 {
	margin-top: 20px;
}

.pt-md-20 {
	padding-top: 20px;
}

.mb-md-20 {
	margin-bottom: 20px;
}

.pb-md-20 {
	padding-bottom: 20px;
}

.ml-md-20 {
	margin-left: 20px;
}

.pl-md-20 {
	padding-left: 20px;
}

.mr-md-20 {
	margin-right: 20px;
}

.pr-md-20 {
	padding-right: 20px;
}

.mt-md-24 {
	margin-top: 24px;
}

.pt-md-24 {
	padding-top: 24px;
}

.mb-md-24 {
	margin-bottom: 24px;
}

.pb-md-24 {
	padding-bottom: 24px;
}

.ml-md-24 {
	margin-left: 24px;
}

.pl-md-24 {
	padding-left: 24px;
}

.mr-md-24 {
	margin-right: 24px;
}

.pr-md-24 {
	padding-right: 24px;
}

.mt-md-30 {
	margin-top: 30px;
}

.pt-md-30 {
	padding-top: 30px;
}

.mb-md-30 {
	margin-bottom: 30px;
}

.pb-md-30 {
	padding-bottom: 30px;
}

.ml-md-30 {
	margin-left: 30px;
}

.pl-md-30 {
	padding-left: 30px;
}

.mr-md-30 {
	margin-right: 30px;
}

.pr-md-30 {
	padding-right: 30px;
}

.mt-md-25 {
	margin-top: 25px;
}

.pt-md-25 {
	padding-top: 25px;
}

.mb-md-25 {
	margin-bottom: 25px;
}

.pb-md-25 {
	padding-bottom: 25px;
}

.ml-md-25 {
	margin-left: 25px;
}

.pl-md-25 {
	padding-left: 25px;
}

.mr-md-25 {
	margin-right: 25px;
}

.pr-md-25 {
	padding-right: 25px;
}

}

@media only screen and (min-width: 600px) {

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 30px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 15px;
	margin-top: 45px;
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-content .h1:first-child,
.entry-content .h2:first-child,
.entry-content .h3:first-child,
.entry-content .h4:first-child,
.entry-content .h5:first-child,
.entry-content .h6:first-child,
.comment-content h1:first-child,
.comment-content h2:first-child,
.comment-content h3:first-child,
.comment-content h4:first-child,
.comment-content h5:first-child,
.comment-content h6:first-child,
.comment-content .h1:first-child,
.comment-content .h2:first-child,
.comment-content .h3:first-child,
.comment-content .h4:first-child,
.comment-content .h5:first-child,
.comment-content .h6:first-child {
	margin-top: 0;
}

.entry-content>ul+h1,
.entry-content>ul+h2,
.entry-content>ul+h3,
.entry-content>ul+h4,
.entry-content>ul+h5,
.entry-content>ul+h6,
.entry-content>ol+h1,
.entry-content>ol+h2,
.entry-content>ol+h3,
.entry-content>ol+h4,
.entry-content>ol+h5,
.entry-content>ol+h6,
.comment-content>ul+h1,
.comment-content>ul+h2,
.comment-content>ul+h3,
.comment-content>ul+h4,
.comment-content>ul+h5,
.comment-content>ul+h6,
.comment-content ol+h1,
.comment-content ol+h2,
.comment-content ol+h3,
.comment-content ol+h4,
.comment-content ol+h5,
.comment-content ol+h6 {
	margin-top: 0;
}

.paragraph-small {
	line-height: 1.6;
}

.vertical-gutter-flow,
p,
.wp-block-column,
.wp-block .wp-block-quote,
.wp-block-image,
.wp-block .block-library-list ul,
.wp-block .block-library-list ol,
.wp-block-cover,
.wp-block-cover-image,
.wp-block-table,
.wp-block-separator,
.wp-block-media-text,
.wp-block-archives,
.wp-block-latest-comments,
.wp-block-embed,
address,
pre,
.wp-block .wp-block-pullquote,
.wp-block-preformatted,
.wp-block-verse,
.wp-block-code,
.wp-block-audio,
.wp-block-calendar,
.wp-block-search {
	margin-bottom: 30px;
}

.pl-48 {
	padding-left: 24px;
}

.pr-0 {
	padding-right: 0;
}

.megaphone-button,
.wp-block-button .wp-block-button__link,
input[type="submit"],
input[type="button"],
button[type="submit"],
.megaphone-pagination a,
ul.page-numbers a,
ul.page-numbers .current,
.comment-reply-link,
#cancel-comment-reply-link,
.meks-instagram-follow-link .meks-widget-cta,
.mks_autor_link_wrap a,
.mks_read_more a,
.paginated-post-wrapper a,
.entry-content .megaphone-button,
.entry-content .wp-block-button .wp-block-button__link,
.wp-block-button .entry-content .wp-block-button__link {
	font-size: 14px;
	height: 40px;
}

.megaphone-button-large,
.wp-block-button .wp-block-button__link {
	padding: 15px 37.5px;
	min-height: 47px;
}

.entry-content>.wp-block-gallery {
	margin-bottom: 30px;
}

.wp-block-cover,
.entry-content .wp-block-cover,
.wp-block-cover-image,
.entry-content .wp-block-cover-image {
	min-height: 430px;
}

.wp-block-button.alignleft,
.megaphone-sidebar-none .wp-block-button.alignleft {
	margin-left: 0;
	margin-top: 7px;
	margin-bottom: 25px;
	margin-right: 37.5px;
}

.wp-block-button.alignright,
.megaphone-sidebar-none .wp-block-button.alignright {
	margin-right: 0;
	margin-top: 7px;
	margin-bottom: 25px;
	margin-left: 37.5px;
}

.wp-block-button.alignleft+.alignleft {
	margin-left: -25px;
}

.wp-block-quote:before {
	left: -40px;
	width: 63px;
	height: 47px;
	top: -5px;
}

.wp-block-pullquote {
	padding: 30px 35px;
	margin-left: -30px;
	margin-right: -30px;
}

.wp-block-pullquote.alignfull.is-style-default>*,
.wp-block-pullquote.alignwide>*,
.wp-block-pullquote.alignwide.is-style-solid-color>*,
.wp-block-pullquote.alignfull.is-style-solid-color>*,
.wp-block-pullquote.is-style-solid-color blockquote,
.wp-block-pullquote.alignfull blockquote {
	max-width: 502px;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	max-width: 305px;
	margin-bottom: 30px;
	padding: 30px 35px;
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p,
.wp-block-pullquote.is-style-solid-color.alignleft blockquote p,
.wp-block-pullquote.is-style-solid-color.alignright blockquote p {
	font-size: 22px;
}

.wp-block-separator.is-style-dots:before {
	letter-spacing: 5px;
}

.wp-block[data-align="left"]:not([data-type="core/button"]) .editor-block-list__block-edit,
.wp-block-cover.alignleft {
	float: left;
	margin-right: 15px;
}

.wp-block-image .alignleft,
.wp-block-image .alignright {
	margin-top: 18px;
}

.wp-block[data-align="right"]:not([data-type="core/button"]) .editor-block-list__block-edit,
.wp-block-cover.alignright {
	float: right;
	margin-left: 15px;
}

}

@media only screen and (min-width: 600px) and (min-width: 600px) {

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 30px;
}

}

@media only screen and (min-width: 600px) and (min-width: 900px) {

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 30px;
}

}

@media only screen and (min-width: 600px) and (min-width: 1102px) {

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 25px;
}

}

@media (min-width: 900px) {

.container {
	padding-right: 30px;
	padding-left: 30px;
}

.container {
	max-width: 1202px;
}

.row,
.wp-block-columns {
	margin-right: -15px;
	margin-left: -15px;
}

.col-lg,
.wp-block-column {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-lg-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.col-lg-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.col-lg-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.col-lg-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-lg-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.col-lg-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.col-lg-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-lg-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.col-lg-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.col-lg-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-lg-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.col-lg-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.col-lg-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.order-lg-first {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.order-lg-last {
	-webkit-box-ordinal-group: 14;
	-ms-flex-order: 13;
	order: 13;
}

.order-lg-0 {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0;
}

.order-lg-1 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.order-lg-2 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.order-lg-3 {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}

.order-lg-4 {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 4;
	order: 4;
}

.order-lg-5 {
	-webkit-box-ordinal-group: 6;
	-ms-flex-order: 5;
	order: 5;
}

.order-lg-6 {
	-webkit-box-ordinal-group: 7;
	-ms-flex-order: 6;
	order: 6;
}

.order-lg-7 {
	-webkit-box-ordinal-group: 8;
	-ms-flex-order: 7;
	order: 7;
}

.order-lg-8 {
	-webkit-box-ordinal-group: 9;
	-ms-flex-order: 8;
	order: 8;
}

.order-lg-9 {
	-webkit-box-ordinal-group: 10;
	-ms-flex-order: 9;
	order: 9;
}

.order-lg-10 {
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
	order: 10;
}

.order-lg-11 {
	-webkit-box-ordinal-group: 12;
	-ms-flex-order: 11;
	order: 11;
}

.order-lg-12 {
	-webkit-box-ordinal-group: 13;
	-ms-flex-order: 12;
	order: 12;
}

.offset-lg-0 {
	margin-left: 0;
}

.offset-lg-1 {
	margin-left: 8.3333333333%;
}

.offset-lg-2 {
	margin-left: 16.6666666667%;
}

.offset-lg-3 {
	margin-left: 25%;
}

.offset-lg-4 {
	margin-left: 33.3333333333%;
}

.offset-lg-5 {
	margin-left: 41.6666666667%;
}

.offset-lg-6 {
	margin-left: 50%;
}

.offset-lg-7 {
	margin-left: 58.3333333333%;
}

.offset-lg-8 {
	margin-left: 66.6666666667%;
}

.offset-lg-9 {
	margin-left: 75%;
}

.offset-lg-10 {
	margin-left: 83.3333333333%;
}

.offset-lg-11 {
	margin-left: 91.6666666667%;
}

.col,
[class*="col-"],
.wp-block-column {
	padding-right: 15px;
	padding-left: 15px;
}

.d-lg-none {
	display: none !important;
}

.d-lg-inline {
	display: inline !important;
}

.d-lg-inline-block {
	display: inline-block !important;
}

.d-lg-block {
	display: block !important;
}

.d-lg-table {
	display: table !important;
}

.d-lg-table-row {
	display: table-row !important;
}

.d-lg-table-cell {
	display: table-cell !important;
}

.d-lg-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.d-lg-inline-flex {
	display: -webkit-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
}

.flex-lg-row {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.flex-lg-column {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.flex-lg-row-reverse {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: row-reverse !important;
	flex-direction: row-reverse !important;
}

.flex-lg-column-reverse {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: column-reverse !important;
	flex-direction: column-reverse !important;
}

.flex-lg-wrap {
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}

.flex-lg-nowrap {
	-ms-flex-wrap: nowrap !important;
	flex-wrap: nowrap !important;
}

.flex-lg-wrap-reverse {
	-ms-flex-wrap: wrap-reverse !important;
	flex-wrap: wrap-reverse !important;
}

.flex-lg-fill {
	-webkit-box-flex: 1 !important;
	-ms-flex: 1 1 auto !important;
	flex: 1 1 auto !important;
}

.flex-lg-grow-0 {
	-webkit-box-flex: 0 !important;
	-ms-flex-positive: 0 !important;
	flex-grow: 0 !important;
}

.flex-lg-grow-1 {
	-webkit-box-flex: 1 !important;
	-ms-flex-positive: 1 !important;
	flex-grow: 1 !important;
}

.flex-lg-shrink-0 {
	-ms-flex-negative: 0 !important;
	flex-shrink: 0 !important;
}

.flex-lg-shrink-1 {
	-ms-flex-negative: 1 !important;
	flex-shrink: 1 !important;
}

.justify-content-lg-start {
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	justify-content: flex-start !important;
}

.justify-content-lg-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}

.justify-content-lg-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.justify-content-lg-between {
	-webkit-box-pack: justify !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
}

.justify-content-lg-around {
	-ms-flex-pack: distribute !important;
	justify-content: space-around !important;
}

.align-items-lg-start {
	-webkit-box-align: start !important;
	-ms-flex-align: start !important;
	align-items: flex-start !important;
}

.align-items-lg-end {
	-webkit-box-align: end !important;
	-ms-flex-align: end !important;
	align-items: flex-end !important;
}

.align-items-lg-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.align-items-lg-baseline {
	-webkit-box-align: baseline !important;
	-ms-flex-align: baseline !important;
	align-items: baseline !important;
}

.align-items-lg-stretch {
	-webkit-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	align-items: stretch !important;
}

.align-content-lg-start {
	-ms-flex-line-pack: start !important;
	align-content: flex-start !important;
}

.align-content-lg-end {
	-ms-flex-line-pack: end !important;
	align-content: flex-end !important;
}

.align-content-lg-center {
	-ms-flex-line-pack: center !important;
	align-content: center !important;
}

.align-content-lg-between {
	-ms-flex-line-pack: justify !important;
	align-content: space-between !important;
}

.align-content-lg-around {
	-ms-flex-line-pack: distribute !important;
	align-content: space-around !important;
}

.align-content-lg-stretch {
	-ms-flex-line-pack: stretch !important;
	align-content: stretch !important;
}

.align-self-lg-auto {
	-ms-flex-item-align: auto !important;
	align-self: auto !important;
}

.align-self-lg-start {
	-ms-flex-item-align: start !important;
	align-self: flex-start !important;
}

.align-self-lg-end {
	-ms-flex-item-align: end !important;
	align-self: flex-end !important;
}

.align-self-lg-center {
	-ms-flex-item-align: center !important;
	align-self: center !important;
}

.align-self-lg-baseline {
	-ms-flex-item-align: baseline !important;
	align-self: baseline !important;
}

.align-self-lg-stretch {
	-ms-flex-item-align: stretch !important;
	align-self: stretch !important;
}

.mt-0 {
	margin-top: 0px;
}

.pt-0 {
	padding-top: 0px;
}

.mb-0 {
	margin-bottom: 0px;
}

.pb-0 {
	padding-bottom: 0px;
}

.ml-0 {
	margin-left: 0px;
}

.pl-0 {
	padding-left: 0px;
}

.mr-0 {
	margin-right: 0px;
}

.pr-0 {
	padding-right: 0px;
}

.mt-4 {
	margin-top: 4px;
}

.pt-4 {
	padding-top: 4px;
}

.mb-4 {
	margin-bottom: 4px;
}

.pb-4 {
	padding-bottom: 4px;
}

.ml-4 {
	margin-left: 4px;
}

.pl-4 {
	padding-left: 4px;
}

.mr-4 {
	margin-right: 4px;
}

.pr-4 {
	padding-right: 4px;
}

.mt-8 {
	margin-top: 8px;
}

.pt-8 {
	padding-top: 8px;
}

.mb-8 {
	margin-bottom: 8px;
}

.pb-8 {
	padding-bottom: 8px;
}

.ml-8 {
	margin-left: 8px;
}

.pl-8 {
	padding-left: 8px;
}

.mr-8 {
	margin-right: 8px;
}

.pr-8 {
	padding-right: 8px;
}

.mt-10 {
	margin-top: 10px;
}

.pt-10 {
	padding-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.pb-10 {
	padding-bottom: 10px;
}

.ml-10 {
	margin-left: 10px;
}

.pl-10 {
	padding-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.mt-12 {
	margin-top: 12px;
}

.pt-12 {
	padding-top: 12px;
}

.mb-12 {
	margin-bottom: 12px;
}

.pb-12 {
	padding-bottom: 12px;
}

.ml-12 {
	margin-left: 12px;
}

.pl-12 {
	padding-left: 12px;
}

.mr-12 {
	margin-right: 12px;
}

.pr-12 {
	padding-right: 12px;
}

.mt-16 {
	margin-top: 16px;
}

.pt-16 {
	padding-top: 16px;
}

.mb-16 {
	margin-bottom: 16px;
}

.pb-16 {
	padding-bottom: 16px;
}

.ml-16 {
	margin-left: 16px;
}

.pl-16 {
	padding-left: 16px;
}

.mr-16 {
	margin-right: 16px;
}

.pr-16 {
	padding-right: 16px;
}

.mt-20 {
	margin-top: 20px;
}

.pt-20 {
	padding-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}

.ml-20 {
	margin-left: 20px;
}

.pl-20 {
	padding-left: 20px;
}

.mr-20 {
	margin-right: 20px;
}

.pr-20 {
	padding-right: 20px;
}

.mt-24 {
	margin-top: 24px;
}

.pt-24 {
	padding-top: 24px;
}

.mb-24 {
	margin-bottom: 24px;
}

.pb-24 {
	padding-bottom: 24px;
}

.ml-24 {
	margin-left: 24px;
}

.pl-24 {
	padding-left: 24px;
}

.mr-24 {
	margin-right: 24px;
}

.pr-24 {
	padding-right: 24px;
}

.mt-25 {
	margin-top: 25px;
}

.pt-25 {
	padding-top: 25px;
}

.mb-25 {
	margin-bottom: 25px;
}

.pb-25 {
	padding-bottom: 25px;
}

.ml-25 {
	margin-left: 25px;
}

.pl-25 {
	padding-left: 25px;
}

.mr-25 {
	margin-right: 25px;
}

.pr-25 {
	padding-right: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.pt-30 {
	padding-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.pb-30 {
	padding-bottom: 30px;
}

.ml-30 {
	margin-left: 30px;
}

.pl-30 {
	padding-left: 30px;
}

.mr-30 {
	margin-right: 30px;
}

.pr-30 {
	padding-right: 30px;
}

.mt-32 {
	margin-top: 32px;
}

.pt-32 {
	padding-top: 32px;
}

.mb-32 {
	margin-bottom: 32px;
}

.pb-32 {
	padding-bottom: 32px;
}

.ml-32 {
	margin-left: 32px;
}

.pl-32 {
	padding-left: 32px;
}

.mr-32 {
	margin-right: 32px;
}

.pr-32 {
	padding-right: 32px;
}

.mt-40 {
	margin-top: 40px;
}

.pt-40 {
	padding-top: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}

.pb-40 {
	padding-bottom: 40px;
}

.ml-40 {
	margin-left: 40px;
}

.pl-40 {
	padding-left: 40px;
}

.mr-40 {
	margin-right: 40px;
}

.pr-40 {
	padding-right: 40px;
}

.mt-48 {
	margin-top: 48px;
}

.pt-48 {
	padding-top: 48px;
}

.mb-48 {
	margin-bottom: 48px;
}

.pb-48 {
	padding-bottom: 48px;
}

.ml-48 {
	margin-left: 48px;
}

.pl-48 {
	padding-left: 48px;
}

.mr-48 {
	margin-right: 48px;
}

.pr-48 {
	padding-right: 48px;
}

.mt-50 {
	margin-top: 50px;
}

.pt-50 {
	padding-top: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.ml-50 {
	margin-left: 50px;
}

.pl-50 {
	padding-left: 50px;
}

.mr-50 {
	margin-right: 50px;
}

.pr-50 {
	padding-right: 50px;
}

.mt-56 {
	margin-top: 56px;
}

.pt-56 {
	padding-top: 56px;
}

.mb-56 {
	margin-bottom: 56px;
}

.pb-56 {
	padding-bottom: 56px;
}

.ml-56 {
	margin-left: 56px;
}

.pl-56 {
	padding-left: 56px;
}

.mr-56 {
	margin-right: 56px;
}

.pr-56 {
	padding-right: 56px;
}

.mt-64 {
	margin-top: 64px;
}

.pt-64 {
	padding-top: 64px;
}

.mb-64 {
	margin-bottom: 64px;
}

.pb-64 {
	padding-bottom: 64px;
}

.ml-64 {
	margin-left: 64px;
}

.pl-64 {
	padding-left: 64px;
}

.mr-64 {
	margin-right: 64px;
}

.pr-64 {
	padding-right: 64px;
}

}

@media only screen and (min-width: 900px) {

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 30px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 15px;
	margin-top: 75px;
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-content .h1:first-child,
.entry-content .h2:first-child,
.entry-content .h3:first-child,
.entry-content .h4:first-child,
.entry-content .h5:first-child,
.entry-content .h6:first-child,
.comment-content h1:first-child,
.comment-content h2:first-child,
.comment-content h3:first-child,
.comment-content h4:first-child,
.comment-content h5:first-child,
.comment-content h6:first-child,
.comment-content .h1:first-child,
.comment-content .h2:first-child,
.comment-content .h3:first-child,
.comment-content .h4:first-child,
.comment-content .h5:first-child,
.comment-content .h6:first-child {
	margin-top: 0;
}

.vertical-gutter-flow,
p,
.wp-block-column,
.wp-block .wp-block-quote,
.wp-block-image,
.wp-block .block-library-list ul,
.wp-block .block-library-list ol,
.wp-block-cover,
.wp-block-cover-image,
.wp-block-table,
.wp-block-separator,
.wp-block-media-text,
.wp-block-archives,
.wp-block-latest-comments,
.wp-block-embed,
address,
pre,
.wp-block .wp-block-pullquote,
.wp-block-preformatted,
.wp-block-verse,
.wp-block-code,
.wp-block-audio,
.wp-block-calendar,
.wp-block-search {
	margin-bottom: 30px;
}

.pl-48 {
	padding-left: 48px;
}

.pr-0 {
	padding-right: 0;
}

.has-parallax.alignwide {
	left: -50% !important;
}

.entry-content>.wp-block-gallery {
	margin-bottom: 30px;
}

.wp-block-button.alignleft,
.megaphone-sidebar-none .wp-block-button.alignleft {
	margin-left: 0;
}

.wp-block-button.alignright,
.megaphone-sidebar-none .wp-block-button.alignright {
	margin-right: 0;
}

.wp-block-pullquote {
	padding: 40px 50px;
	margin-left: -50px;
	margin-right: -50px;
}

.wp-block-pullquote.alignfull.is-style-default>*,
.wp-block-pullquote.alignwide>*,
.wp-block-pullquote.alignwide.is-style-solid-color>*,
.wp-block-pullquote.alignfull.is-style-solid-color>*,
.wp-block-pullquote.is-style-solid-color blockquote,
.wp-block-pullquote.alignfull blockquote {
	max-width: 526px;
}

.wp-block[data-align="left"]:not([data-type="core/button"]) .editor-block-list__block-edit,
.wp-block-cover.alignleft {
	margin-right: 25px;
}

.wp-block[data-align="left"]:not([data-type="core/button"]) .editor-block-list__block-edit {
	margin-left: -25px;
	margin-bottom: 10px;
}

.wp-block-image .alignleft,
.wp-block-image .alignright {
	margin-top: 8px;
}

.wp-block[data-align="right"]:not([data-type="core/button"]) .editor-block-list__block-edit,
.wp-block-cover.alignright {
	margin-left: 25px;
}

.wp-block[data-align="right"]:not([data-type="core/button"]) .editor-block-list__block-edit {
	margin-right: -25px;
	margin-bottom: 10px;
}

}

@media only screen and (min-width: 900px) and (min-width: 600px) {

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 30px;
}

}

@media only screen and (min-width: 900px) and (min-width: 900px) {

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 30px;
}

}

@media only screen and (min-width: 900px) and (min-width: 1102px) {

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 25px;
}

}

@media (min-width: 1102px) {

.container {
	padding-right: 50px;
	padding-left: 50px;
}

.row,
.wp-block-columns {
	margin-right: -25px;
	margin-left: -25px;
}

.col-xl {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-xl-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.col-xl-1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 8.3333333333%;
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.col-xl-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.6666666667%;
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.col-xl-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-xl-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.col-xl-5 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 41.6666666667%;
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.col-xl-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-xl-7 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 58.3333333333%;
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.col-xl-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.6666666667%;
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.col-xl-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-xl-10 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 83.3333333333%;
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.col-xl-11 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 91.6666666667%;
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.col-xl-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.order-xl-first {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.order-xl-last {
	-webkit-box-ordinal-group: 14;
	-ms-flex-order: 13;
	order: 13;
}

.order-xl-0 {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 0;
	order: 0;
}

.order-xl-1 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.order-xl-2 {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.order-xl-3 {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
	order: 3;
}

.order-xl-4 {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 4;
	order: 4;
}

.order-xl-5 {
	-webkit-box-ordinal-group: 6;
	-ms-flex-order: 5;
	order: 5;
}

.order-xl-6 {
	-webkit-box-ordinal-group: 7;
	-ms-flex-order: 6;
	order: 6;
}

.order-xl-7 {
	-webkit-box-ordinal-group: 8;
	-ms-flex-order: 7;
	order: 7;
}

.order-xl-8 {
	-webkit-box-ordinal-group: 9;
	-ms-flex-order: 8;
	order: 8;
}

.order-xl-9 {
	-webkit-box-ordinal-group: 10;
	-ms-flex-order: 9;
	order: 9;
}

.order-xl-10 {
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
	order: 10;
}

.order-xl-11 {
	-webkit-box-ordinal-group: 12;
	-ms-flex-order: 11;
	order: 11;
}

.order-xl-12 {
	-webkit-box-ordinal-group: 13;
	-ms-flex-order: 12;
	order: 12;
}

.offset-xl-0 {
	margin-left: 0;
}

.offset-xl-1 {
	margin-left: 8.3333333333%;
}

.offset-xl-2 {
	margin-left: 16.6666666667%;
}

.offset-xl-3 {
	margin-left: 25%;
}

.offset-xl-4 {
	margin-left: 33.3333333333%;
}

.offset-xl-5 {
	margin-left: 41.6666666667%;
}

.offset-xl-6 {
	margin-left: 50%;
}

.offset-xl-7 {
	margin-left: 58.3333333333%;
}

.offset-xl-8 {
	margin-left: 66.6666666667%;
}

.offset-xl-9 {
	margin-left: 75%;
}

.offset-xl-10 {
	margin-left: 83.3333333333%;
}

.offset-xl-11 {
	margin-left: 91.6666666667%;
}

.col,
[class*="col-"],
.wp-block-column {
	padding-right: 25px;
	padding-left: 25px;
}

.d-xl-none {
	display: none !important;
}

.d-xl-inline {
	display: inline !important;
}

.d-xl-inline-block {
	display: inline-block !important;
}

.d-xl-block {
	display: block !important;
}

.d-xl-table {
	display: table !important;
}

.d-xl-table-row {
	display: table-row !important;
}

.d-xl-table-cell {
	display: table-cell !important;
}

.d-xl-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.d-xl-inline-flex {
	display: -webkit-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
}

.flex-xl-row {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.flex-xl-column {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.flex-xl-row-reverse {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: row-reverse !important;
	flex-direction: row-reverse !important;
}

.flex-xl-column-reverse {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: column-reverse !important;
	flex-direction: column-reverse !important;
}

.flex-xl-wrap {
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}

.flex-xl-nowrap {
	-ms-flex-wrap: nowrap !important;
	flex-wrap: nowrap !important;
}

.flex-xl-wrap-reverse {
	-ms-flex-wrap: wrap-reverse !important;
	flex-wrap: wrap-reverse !important;
}

.flex-xl-fill {
	-webkit-box-flex: 1 !important;
	-ms-flex: 1 1 auto !important;
	flex: 1 1 auto !important;
}

.flex-xl-grow-0 {
	-webkit-box-flex: 0 !important;
	-ms-flex-positive: 0 !important;
	flex-grow: 0 !important;
}

.flex-xl-grow-1 {
	-webkit-box-flex: 1 !important;
	-ms-flex-positive: 1 !important;
	flex-grow: 1 !important;
}

.flex-xl-shrink-0 {
	-ms-flex-negative: 0 !important;
	flex-shrink: 0 !important;
}

.flex-xl-shrink-1 {
	-ms-flex-negative: 1 !important;
	flex-shrink: 1 !important;
}

.justify-content-xl-start {
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	justify-content: flex-start !important;
}

.justify-content-xl-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}

.justify-content-xl-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.justify-content-xl-between {
	-webkit-box-pack: justify !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
}

.justify-content-xl-around {
	-ms-flex-pack: distribute !important;
	justify-content: space-around !important;
}

.align-items-xl-start {
	-webkit-box-align: start !important;
	-ms-flex-align: start !important;
	align-items: flex-start !important;
}

.align-items-xl-end {
	-webkit-box-align: end !important;
	-ms-flex-align: end !important;
	align-items: flex-end !important;
}

.align-items-xl-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.align-items-xl-baseline {
	-webkit-box-align: baseline !important;
	-ms-flex-align: baseline !important;
	align-items: baseline !important;
}

.align-items-xl-stretch {
	-webkit-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	align-items: stretch !important;
}

.align-content-xl-start {
	-ms-flex-line-pack: start !important;
	align-content: flex-start !important;
}

.align-content-xl-end {
	-ms-flex-line-pack: end !important;
	align-content: flex-end !important;
}

.align-content-xl-center {
	-ms-flex-line-pack: center !important;
	align-content: center !important;
}

.align-content-xl-between {
	-ms-flex-line-pack: justify !important;
	align-content: space-between !important;
}

.align-content-xl-around {
	-ms-flex-line-pack: distribute !important;
	align-content: space-around !important;
}

.align-content-xl-stretch {
	-ms-flex-line-pack: stretch !important;
	align-content: stretch !important;
}

.align-self-xl-auto {
	-ms-flex-item-align: auto !important;
	align-self: auto !important;
}

.align-self-xl-start {
	-ms-flex-item-align: start !important;
	align-self: flex-start !important;
}

.align-self-xl-end {
	-ms-flex-item-align: end !important;
	align-self: flex-end !important;
}

.align-self-xl-center {
	-ms-flex-item-align: center !important;
	align-self: center !important;
}

.align-self-xl-baseline {
	-ms-flex-item-align: baseline !important;
	align-self: baseline !important;
}

.align-self-xl-stretch {
	-ms-flex-item-align: stretch !important;
	align-self: stretch !important;
}

}

@media only screen and (min-width: 1102px) {

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content .h1,
.entry-content .h2,
.entry-content .h3,
.entry-content .h4,
.entry-content .h5,
.entry-content .h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.comment-content .h1,
.comment-content .h2,
.comment-content .h3,
.comment-content .h4,
.comment-content .h5,
.comment-content .h6 {
	margin-bottom: 25px;
}

.vertical-gutter-flow,
p,
.wp-block-column,
.wp-block .wp-block-quote,
.wp-block-image,
.wp-block .block-library-list ul,
.wp-block .block-library-list ol,
.wp-block-cover,
.wp-block-cover-image,
.wp-block-table,
.wp-block-separator,
.wp-block-media-text,
.wp-block-archives,
.wp-block-latest-comments,
.wp-block-embed,
address,
pre,
.wp-block .wp-block-pullquote,
.wp-block-preformatted,
.wp-block-verse,
.wp-block-code,
.wp-block-audio,
.wp-block-calendar,
.wp-block-search {
	margin-bottom: 50px;
}

.pl-48 {
	padding-left: 48px;
}

.pr-0 {
	padding-right: 0;
}

.entry-content>.wp-block-gallery {
	margin-bottom: 25px;
}

.wp-block-pullquote {
	margin-left: -50px;
	margin-right: -50px;
}

}

@media print {

.d-print-none {
	display: none !important;
}

.d-print-inline {
	display: inline !important;
}

.d-print-inline-block {
	display: inline-block !important;
}

.d-print-block {
	display: block !important;
}

.d-print-table {
	display: table !important;
}

.d-print-table-row {
	display: table-row !important;
}

.d-print-table-cell {
	display: table-cell !important;
}

.d-print-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.d-print-inline-flex {
	display: -webkit-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
}

}

