/* Helper classes */

.megaphone-force-hide {
    display: none !important;
}


/* Welcome panel */

.welcome-panel.megaphone-welcome-panel {
    margin: 33px 20px 0 0;
    padding-bottom: 30px;
}

.welcome-panel.megaphone-welcome-panel .welcome-panel-column,
.welcome-panel.megaphone-welcome-panel .welcome-panel-column:first-child {
    max-width: 350px;
    margin-right: 40px;
    width: 27%;
}

.megaphone-customize-welcome {
    margin-top: 24px;
    display: inline-block;
}

/* Admin options */

input.megaphone-hidden,
.megaphone-hidden {
    display: none !important;
}

img.megaphone-img-select {
    border: 2px solid #eee;
    cursor: pointer;
    border-radius: 4px;
    background: #fff;
    width: 100%;
    max-width: 114px !important;
}

.block-editor-page img.megaphone-img-select {
    max-width: 100px !important;
}

img.megaphone-img-select.selected {
    border: 2px solid #0074a2;
}

.megaphone-opt-img-80 img.megaphone-img-select {
    max-width: 80px !important;
}

ul.megaphone-img-select-wrap {
    float: left;
    width: 100%;
    display: block;
    margin: 5px 0;
}

ul.megaphone-img-select-wrap li {
    float: left;
    margin-right: 8px;
    margin-bottom: 12px;
}

.megaphone-img-select-wrap li span {
    font-size: 11px;
    display: block;
    text-align: center;
    width: 100%;
    line-height: 13px;
    min-width: 50px;
    max-width: 114px;
}

.megaphone-opt-disabled {
    opacity: 0.5;
    pointer-events: none;
}

#megaphone-image-preview{
    width: 300px;
    border: 2px solid #ebebeb;
}

/* Widgets */

#megaphone_sidebar_footer_1 .megaphone-opt-bg,
#megaphone_sidebar_footer_2 .megaphone-opt-bg,
#megaphone_sidebar_footer_3 .megaphone-opt-bg,
#megaphone_sidebar_footer_4 .megaphone-opt-bg {
    display: none;
}

.megaphone-widget-content-sortable label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

/* Customizer */

.kirki-host-font-locally {
    display: none;
}

.kirki-sortable-item .dashicons-menu:before {
    content: "\f545";
}

.customize-control-kirki-radio-image>.image {
    justify-content: space-between;
}

body .customize-control-kirki-radio-image label .image-label {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: transparent;
    font-weight: normal;
    display: block;
    font-size: 11px;
    margin-top: -4px;
}

.wp-customizer .customize-control-kirki-radio-image label .image-label .inner {
    height: auto;
    padding: 0;
}

body .customize-control-kirki-radio-image div label {
    position: relative;
    max-width: 46%;
    flex: 0 0 46%;
    margin: 0 0 12px;
}

body .customize-control-kirki-radio-image .customize-control-title {
    margin-bottom: 8px;
}

#customize-control-megaphone_settings-header_layout.customize-control-kirki-radio-image label,
#customize-control-megaphone_settings-header_sticky_layout.customize-control-kirki-radio-image label {
    max-width: 100%;
    flex: 0 0 100%;
}

body #customize-control-megaphone_settings-preset_colors.customize-control-kirki-radio-image div label{
    max-width: 30%;
    flex: 0 0 30%; 
}

.wp-customizer .customize-control-kirki-radio-image label img {
    transition: box-shadow .15s ease-in-out;
}

.wp-customizer .customize-control-kirki-radio-image label:hover img {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.wp-customizer .customize-control-kirki-radio-image input:checked+label img {
    box-shadow: 0px 0px 0px 2px #3498DB;
    border: none;
    max-width: 100%;
    box-sizing: border-box;
}



#accordion-panel-megaphone_panel .accordion-section-title:before{
    display: inline-block;
    content: '';
    background-image: url("../../img/admin/megaphone_theme_options.svg");
    background-size: 18px 18px;
    height: 8px;
    width: 18px;
    vertical-align: middle;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 5px;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.wp-customizer .customize-control-kirki-radio-image input+label img {
    border: none;
}

#customize-control-megaphone_settings-footer_widgets_layout .image-label {
    display: none;
}

.megaphone-opt-display-custom select{
    width: 200px;
}