/*
Theme Name: Zipi
Theme URI: https://dorset.tech
Text Domain: megaphone
Author: Dorset Tech
Author URI: https://dorset.tech
Description: Zipi
Version: 1.2.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

#featured DRDRDE{
    padding-left: 0px;
}

.vc_grid.vc_row .vc_grid-item .vc_btn, .vc_grid.vc_row .vc_grid-item .vc_icon_element, .vc_grid.vc_row .vc_grid-item .wpb_content_element {
    margin-bottom: 0px!important;
}

.entry-title{
  display: none;  
}

#browsecarousel .mega-post-meta, #browsecarousel .mega-post-date{
    display: none; 
}

#browsecarousel .mega-post-category{
    margin: 0px;
    position: absolute;
    top: 0px;
}

#browsecarousel .mega-post-title {
    margin-bottom: 0px;
margin-top: 0px;
line-height: 0.5;
position: absolute;
top: 29px;
}

#browsecarousel .mega-post-para{
    position: absolute;
    top: 60px;
}

#browsecarousel .mega-post-image{
    margin-top: 105px;
    border-radius: 4px;
}

#browsecarousel .slick-slide{
   padding:0px 7.5px!important; position: relative;
}

#browsecarousel [class*=col-]{
    padding:0px!important; 
}

#browsecarousel .mega-post-image img{
    height:auto!important;
    border-radius: 6px;
}

#showswelove .mega-post-meta, #showswelove .mega-post-date{
    display: none!important;
}

#showswelove .mega-post-category{
    display: none!important;
}

#showswelove .mega-post-title {
    display: none!important;
}

#showswelove .mega-post-para{
    display: none!important;
}

#showswelove .mega-post-image{
    margin-top: 0px;
    border-radius: 6px;
}

#showswelove .slick-slide{
   padding:0px 7.5px!important; 
}

#showswelove [class*=col-]{
    padding:0px!important; 
}

#showswelove .mega-post-image img, #showswelove .mega-post-image{
    height:auto!important;
}

#categories .wpb_single_image.vc_align_center{
    margin: 0px!important;
}

#categories h4{
    color: #ffffff;
    text-align: center;
    margin: 0px;
    position: absolute;
    bottom: 60px;
    left: 0;
    font-size: 16px;
    width: 100%;
    font-family: 'avertape-bolduploaded_file';
    font-style: normal;
    font-weight: 100;
}
.wpb_single_image .vc_single_image-wrapper.vc_box_rounded, .wpb_single_image .vc_single_image-wrapper.vc_box_rounded img {border-radius: 6px!important;}
.mega-post-carousel1 .mega-post-category a{display: inline-block!important;}
.mega-post-carousel1 .mega-post-title a{font-size: 18px;color: #000000;line-height: 18px;display: inline-block;}

.mega-post-carousel1 .mega-post-category a {
    color: #ff006c!important;
    background: transparent!important;
    font-size: 10px;
    padding: 0px!important;
    margin-right: 10px!important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0px!important;
}

.mega-post-carousel1 .mega-post-category a:nth-of-type(2) {
  color: #6800ff!important;
}

#browsecarousel .mega-post-category{
    top: 13px;
}

.mega-post-carousel1 .mega-post-para p{
    top: -13px;
    position: relative;
}

.mega-post-carousel1 .mega-post-title a {
    color: #3d3b44!important;
    line-height: 1.2;
    font-size: 16px!important;
    font-family: 'avertacy-regularuploaded_file';
    letter-spacing: 0px;
    font-weight: 100;
}

#browsecarousel .slick-slide {
    max-height: 500px;
}

.vc_btn3-container{
    margin-bottom: 0px!important;
}

#featured .vc_gitem-post-data{
    margin-bottom: 0px!important;
}

.featuredAuthor{
    color: #807c8e;
    font-size: 12px;
}

.featuredTitle{
    color: #3d3b44;
    line-height: 1.5;
    font-size: 14px;
}

h5.section-title.searchTitle.h2{
    margin-bottom: 0px!important;
    font-family: 'AvertaCYBlack';
    font-weight: normal;
    color: #4b2287;
    letter-spacing: -1.5px;
    font-size: 5.8rem;
    margin-top: 0px!important;
}

.searchSub{
    color: #ff006c!important;
    background: transparent!important;
    font-size: 14px;
    padding: 0!important;
    text-transform: uppercase;
    font-family:'avertape-bolduploaded_file';
    letter-spacing: 0px!important;
}

.search-alt input[type=text] {
    border-radius: 0px!important;
    border: none;
    border-bottom: 1px solid;
    border-color: #ebebeb;
    font-family: 'avertacy-regularuploaded_file';
    color: #000000!important;
    letter-spacing: 0px;
}

.megaphone-modal.search-alt button[type=submit], .megaphone-modal.search-alt input[type=submit] {
    max-width: 180px;
    border: 2px solid transparent!important;
    -moz-border-image: -moz-linear-gradient(left, #fe004e 0%, #8700cd 100%)!important;
    -webkit-border-image: -webkit-linear-gradient(left, #fe004e 0%, #8700cd 100%)!important;
    border-image: linear-gradient(to left, #fe004e 0%, #8700cd 100%)!important;
    border-image-slice: 1!important;
    font-family: 'avertape-bolduploaded_file';
    color: #3d3b44;
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 11px;
    background-image: none!important;
}

.megaphone-sidebar .widget-inside {
    padding: 0px;
}

#text-2 .authors-list-cols-dir-horizontal .authors-list-col-3{
   width: 100%!important; 
}

#text-2 .authors-list-item-thumbnail{
    display: none!important;
}
#text-2 .authors-list-item{
    margin: 0px!important;
    padding: 0px!important;
}

.megaphone-sidebar .widget-title{
   font-family: 'avertape-bolduploaded_file';
    color: #3d3b44;
    font-weight: normal;
    font-size: 2.8rem;
    letter-spacing: -0.1rem;
    margin-bottom: 10px!important;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
}
.megaphone-sidebar .widget-title:after{
    content: '';
    height: 3px;
    width: auto;
    display: block;
    background: rgb(254,0,78);
    background: -moz-linear-gradient(261deg, rgba(254,0,78,1) 0%, rgba(135,0,205,1) 100%);
    background: -webkit-linear-gradient(261deg, rgba(254,0,78,1) 0%, rgba(135,0,205,1) 100%);
    background: linear-gradient(261deg, rgba(254,0,78,1) 0%, rgba(135,0,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe004e",endColorstr="#8700cd",GradientType=1);
    margin-top: 10px;
    z-index: 2;
    position: relative;
    width: 50%;
}

.megaphone-sidebar .widget-title:before{
    content: '';
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    display: block;
    position: relative;
    top: 51px;
}

.widget-inside, .widget-inside.megaphone-bg-alt-1{
    background-color: transparent!important;
}

.megaphone-sidebar .widget li {
    margin-bottom: 10px!important;
    font-size: 13px;
}

.widget_categories ul li a:hover, .widget_archive ul li a:hover {
    color: #ff006c!important;
}

.authors-list-item-link{
  display: none!important;
}

.authors-list-item-title {
    font-size: 14px!important;
}

.woocommerce-MyAccount-navigation ul{
    background-color: #fff!important;
    border-radius: 5px;
    padding: 0px!important;
}

.nav-menu .entry-content a:hover, .entry-summary > span {
    color: #fff!important;
    background-color: #47268b; 
}

li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link.is-active{
    color: #fff!important;
    background-color: #47268b; 
}

li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link.is-active a{
    color: #fff!important;
}

.woocommerce-account .woocommerce-MyAccount-navigation{
    box-shadow: 0 0px 21px -6px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 24%!important;
}

body .woocommerce-MyAccount-navigation ul li a{
    padding: 21px 30px 21px!important;
    font-weight: 600;
}

.woocommerce-MyAccount-navigation ul li{
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 0px!important;
}

.woocommerce-MyAccount-navigation ul li:last-child{
    border-bottom: none;
}

.woocommerce-account .woocommerce-MyAccount-content{
    background-color: #f9f8fb;
    padding: 25px;
    border-radius: 5px;
    width: 70%!important;
}

.woocommerce-MyAccount-content p {
    margin-bottom: 30px;
    padding: 0px 13px;
}

.pdcast{
    width: 24%!important;
    margin: 0px!important;
    color: #47268b;
    background-color:#fff;
}

.pdfilter {
    width: 24%!important;
    margin: 0px 20px!important;
    color: #47268b;
    background-color:#fff;
}

.innernav{
    margin-bottom: 36px;
}

.woocommerce .col2-set.addresses .col-1, .woocommerce .col2-set.addresses .col-2{
    background-color: #fff!important;
}

body .woocommerce .woocommerce-error, body .woocommerce .woocommerce-info, body .woocommerce .woocommerce-message {
    background-color: #ffffff!important;
}

.nav-menu a{
    color: #47268b!important;
}

.nav-menu a:hover{
    color: #47268b!important;
}


.table-bordered thead td, .table-bordered thead th{
    border-bottom-width: 3px;
    padding: 10px;
}

.widefat td{
    padding: 0px;
}

body .woocommerce-MyAccount-navigation ul li a:hover{
    color: #000!important;
    background-color: #f6f2ff;
}

.woocommerce select:hover{
    color: #000!important;
    background-color: #f6f2ff;
}

.woocommerce select {
    border-radius: 6px!important;
}

.entry-content form{
    background-color: #fff;
    padding: 28px;
}

.woocommerce form .form-row label{
    margin-right: 20px;
}

.entry-content form {
    margin-bottom: 0.5rem;
}


