@font-face {
  font-family: 'megaphone-font';
  src:  url('../fonts/megaphone-font.eot?');
  src:  url('../fonts/megaphone-font.eot?#iefix') format('embedded-opentype'),
    url('../fonts/megaphone-font.ttf?') format('truetype'),
    url('../fonts/megaphone-font.woff?') format('woff'),
    url('../fonts/megaphone-font.svg?#megaphone-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa,
.o-envelope-1 {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="mf"], [class*=" mf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'megaphone-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mf-chevron-down:before {
  content: "\e900";
}
.mf-chevron-up:before {
  content: "\e901";
}
.mf-chevron-left:before {
  content: "\e902";
}
.mf-chevron-right:before {
  content: "\e903";
}
.mf-corner-right:before {
  content: "\e904";
}
.mf-close:before {
  content: "\e905";
}
.mf-menu:before {
  content: "\e906";
}
.mf-search:before {
  content: "\e907";
}
.mf-play:before {
  content: "\e908";
}
.mf-audio:before {
  content: "\e909";
}
.mf-gallery:before {
  content: "\e90a";
}
.mf-image:before {
  content: "\e90b";
}
.mf-social:before {
  content: "\e90c";
}
.mf-sticky:before {
  content: "\e90d";
}
.mf-cart:before {
  content: "\e90e";
}
.mf-envelope:before {
  content: "\e90f";
}
.mf-website:before {
  content: "\e910";
}
.mf-gear:before {
  content: "\e911";
}
.mf-apple:before {
  content: "\e912";
}
.mf-spotify:before {
  content: "\e913";
}
.mf-google:before {
  content: "\e914";
}
.mf-stitcher:before {
  content: "\e915";
}
.mf-paypal:before {
  content: "\e916";
}
.mf-subscribe:before {
  content: "\e917";
}
.mf-sponsored:before {
  content: "\e918";
}
.mf-pause:before {
  content: "\e919";
}
.mf-patreon:before {
  content: "\e91a";
}
.mf-corner-left:before {
  content: "\e91b";
}
.mf-youtube:before {
  content: "\e91c";
}
.mf-anghami:before {
  content: "\e91d";
}


.fa-twitter:before {
  content: "\f099";
}

.fa-play:before {
  content: "\f04b";
  margin-right: -2px;
}

.fa-music:before {
  content: "\f001";
}

.fa-camera:before {
  content: "\f030";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-reddit:before {
  content: "\f1a1";
}

.fa-stumbleupon:before {
  content: "\f1a4";
}

.fa-vk:before {
  content: "\f189";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-instagram:before {
  content: "\f16d";
}
.o-envelope-1:before {
  content: "\f003";
}

.mf-mixcloud:before {
  content: "\e91e";
}
.mf-soundcloud:before {
  content: "\e91f";
}
.mf-podbean:before {
  content: "\e920";
}
.mf-libsyn:before {
  content: "\e921";
}
.mf-spreaker:before {
  content: "\e922";
}
.mf-cadence13:before {
  content: "\e923";
}
.mf-podomatic:before {
  content: "\e924";
}
.mf-podcast:before {
  content: "\e925";
}
.mf-download:before {
  content: "\e926";
}
.mf-iheart:before {
  content: "\e927";
}
.mf-tunein:before {
  content: "\e928";
}
.mf-overcast:before {
  content: "\e929";
}
.mf-anchor:before {
  content: "\e92a";
}
.mf-blogtalkradio:before {
  content: "\e92b";
}
.mf-megaphonefm:before {
  content: "\e92c";
}
.mf-ivoox:before {
  content: "\e92d";
}
.mf-simplecast:before {
  content: "\e92e";
}
.mf-ausha:before {
  content: "\e92f";
}