body.woocommerce ul.products li.product,
body.woocommerce-page ul.products li.product {
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.megaphone-cart-count {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 10px;
    min-width: 18px;
    height: 18px;
    line-height: 8px;
    padding: 6px 0;
    margin-right: 0;
    position: absolute;
    top: 5px;
    right: -12px;
    user-select: none;
    cursor: pointer;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.megaphone-top-bar .megaphone-cart{
    width:34px;
}
.megaphone-top-bar .megaphone-cart-count{
    position: relative;
    top: -8px;
    right: 3px;
}
.megaphone-menu-actions li{
    position: relative;   
}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price {
    padding: 10px;
}

.woocommerce ul.products li.product .price {
    margin: 0;
}

.woocommerce ul.products li.product a img {
    margin-bottom: 10px;
}

.woocommerce h1.page-title {
    font-size: 26px;
    line-height: 1.308;
    margin-top: 20px;
    margin-bottom: 20px;
}
.price, .amount, .woocommerce div.product p.price{
    opacity: .7;
}
.woocommerce div.product p.price, .woocommerce div.product span.price{
    font-size: 3rem;
    margin-bottom: 1rem;    
}
body.woocommerce .products ul,
.woocommerce ul.products {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


.woocommerce ul.products .woocommerce-loop-product__link,
.woocommerce ul.products .woocommerce-loop-product__link:hover{
  box-shadow: none;
  background: transparent;
}
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after,
.woocommerce ul.products li.product .added_to_cart:after,
.return-to-shop .button.wc-backward:before,
.woocommerce .widget_shopping_cart_content .buttons .button:after,
body.woocommerce #content div.product form.cart .variations .reset_variations:before,
.wcmenucart .fa {
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-rendering: auto;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
    margin: 0 0 30px;
}
.woocommerce div.product .product_title{
    margin-bottom: 0;
    font-size: 4rem;
}
.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product .added_to_cart {
    font-size: 1.1rem;
    line-height: 1;
    text-align: center;
    display: inline-block;
    transition: all .15s ease-in-out;
    border: none;
    padding: 11px 18px;
    border-radius: 0;
    height: 32px;
    border-radius: 25px;
    text-transform: uppercase;
}
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img{
    width: 80px;
}

.woocommerce .widget_shopping_cart_content .buttons .button {
    line-height: 13px;
}

body.woocommerce .button,
body.woocommerce-page .button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce .widget_price_filter .price_slider_amount .button {
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
    display: inline-block;
    transition: all .15s ease-in-out; 
    border: none;
    padding: 14px 30px;
    height: 40px;
    min-height: 30px;
    border-radius: 25px;
    text-transform: uppercase;

}

.woocommerce ul.products li.product .button:hover,
.woocommerce ul.products li.product .added_to_cart:hover,
body.woocommerce #content div.product form.cart .button:hover,
body.woocommerce .button:hover,
body.woocommerce-page .button:hover,
.woocommerce a.button.alt:hover,
.woocommerce-checkout #place_order:hover,
.woocommerce .widget_shopping_cart_content .buttons .button:hover,
.woocommerce #review_form #respond .form-submit input:hover {
    cursor: pointer;
    text-decoration: none;
    box-shadow: none;
}

.woocommerce .cart .button, .woocommerce .cart input.button {
    float: none;
    line-height: 1;
    height: 40px;
    padding: 0 30px;
    min-height: auto;
    border-radius: 25px;
    text-transform: uppercase;
}
.woocommerce-checkout #payment div.form-row{
    padding-bottom: 35px;
}
/*--------------------------------------------------------------
- Globals
--------------------------------------------------------------*/



.woocommerce del {
    opacity: .5;
}

.woocommerce ins {
    text-decoration: none;
}

.woocommerce select {
    border-radius: 2px;
}


/* star ratings*/

.woocommerce p.stars a,
.woocommerce p.stars a:hover,
.woocommerce .star-rating {
    font-size: 14px;
    color: #F9CA63;
    box-shadow: none;
    background: transparent;
}

.woocommerce .star-rating:before {
    color: #dedede;
}

.woocommerce .woocommerce-product-rating .star-rating {
    margin: 10px 4px 0 0;
}


/* quantity arrows */

.quantity.buttons_added input {
    -webkit-appearance: none !important
}

.quantity.buttons_added {
    position: relative;
    overflow: hidden;
    zoom: 1;
    border: 1px solid #e4e4e4;
    float: left;
}

.quantity.buttons_added input[type=number] {
    float: left;
    height: 24px;
    line-height: 24px;
    -moz-appearance: textfield;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus,
.quantity.buttons_added .qty {
    display: block;
    float: left;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 0.923em;
    color: #777;
    cursor: pointer;
    outline: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .qty {
    border-right: 1px solid #e4e4e4
}

.quantity.buttons_added .plus,
.quantity.buttons_added .minus {
    background: #f7f7f7
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #f5f5f5;
    color: #000;
}

.quantity.buttons_added input::-webkit-outer-spin-button,
.quantity.buttons_added input::-webkit-inner-spin-button {
    display: none
}


/* columns */

.col2-set:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}


/* border colors */

.woocommerce-checkout #payment ul.payment_methods,
.woocommerce table.shop_table,
.woocommerce table.shop_table td,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce .order_details,
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals h2,
.woocommerce .cart-collaterals h2,
.woocommerce ul.order_details,
.woocommerce .shop_table.order_details tfoot th,
.woocommerce .shop_table.customer_details th,
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce .col2-set.addresses .col-1,
.woocommerce .col2-set.addresses .col-2,
.select2-container .select2-choice {
    border-color: rgba(0, 0, 0, 0.1);
}

.entry-content div.select2-container .select2-choice {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/* Button > Loading*/

.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading {
    opacity: 1;
    padding-right: 1em;
}

.woocommerce #respond input#submit.loading:after,
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after {
    font-family: "FontAwesome";
    content: "\f021";
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    position: inherit;
    top: auto;
    right: auto;
    margin-left: .53em;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    display: inline-block;
    color: inherit;
    opacity: 1;
}


/* Button > Added to cart */

.woocommerce ul.products li.product .added_to_cart:after {
    font-family: "FontAwesome";
    content: "\f07a";
    margin-left: .53em;
    vertical-align: bottom;
}


/* Button > Alt */

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    -webkit-font-smoothing: inherit;
}




/* Button > Return to shop */

.return-to-shop .button.wc-backward:before {
    font-family: "FontAwesome";
    content: "\f053";
    margin-right: 8px;
}


/*--------------------------------------------------------------
- Store
--------------------------------------------------------------*/

.woocommerce .products ul,
.woocommerce ul.products {
    margin: 0;
}
.woocommerce div.product p.price span{
    float: none;
}
.woocommerce-product-details__short-description{
    display: block;
    font-weight: normal;
    font-size: 1.4rem;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    margin-bottom: 30px;
}


/* store > ordering & sorting */

.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
    margin: 0 10px 30px 0;
}

.woocommerce .woocommerce-ordering {
    margin: 0;
    float: right;
    margin-bottom: 10px;
}

.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    border-radius: 0;
    padding: 6px;
    font-size: 12px;
    height: 31px;
}

.woocommerce .woocommerce-result-count {
    display: block;
    float: left;
    margin: 11px 10px 10px 0;
    font-size: 12px;
    opacity: .6;
}

.woocommerce .woocommerce-result-count span.strong {
    font-weight: bold;
    font-weight: 600;
}

.woocommerce .woocommerce-ordering .orderby,
.woocommerce .woocommerce-ordering .orderby span {
    width: auto !important
}




/*--------------------------------------------------------------
- Notices
--------------------------------------------------------------*/

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    background-color: #f7f7f7;
    border-left: 1px solid rgba(0, 0, 0, 0.01);
    border-right: 1px solid rgba(0, 0, 0, 0.01);
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    padding: 15px 15px 15px 40px !important;
    font-size: 14px;
    border-top: none;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
    top: 15px;
    left: 15px;
}

.woocommerce .woocommerce-error:before {
    font-family: "FontAwesome";
    content: "\f071";
}

.woocommerce .woocommerce-message:before {
    font-family: "FontAwesome";
    content: "\f00c"
}

.woocommerce .woocommerce-info:before {
    font-family: "FontAwesome";
    content: "\f05a";
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
    margin: 0;
}


/*--------------------------------------------------------------
- Pagination
--------------------------------------------------------------*/

.woocommerce nav.woocommerce-pagination{
    position: relative;
    min-height: 43px;
    margin: 0 auto 52px;
    clear: both;
    text-align: center;
    width: 100%;
    line-height: 27px;
    padding-top: 0;
}
.woocommerce nav.woocommerce-pagination ul {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0;
}

.woocommerce nav.woocommerce-pagination ul li {
    display: block;
    border-right: none;
    margin: 0;
    overflow: visible;
}

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
    height: 46px;
    width: 46px;
    line-height: 46px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 5px;
    
    font-size: 1.4rem;
    text-align: center;
    border: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    font-weight: normal;
}
.woocommerce nav.woocommerce-pagination ul li span.current{
    box-shadow: none;
}
.woocommerce nav.woocommerce-pagination ul li a.next,
.woocommerce nav.woocommerce-pagination ul li a.prev{
    font-size: 0;
}
.woocommerce nav.woocommerce-pagination ul li a.next:before,
.woocommerce nav.woocommerce-pagination ul li a.prev:before{
    font-family: "megaphone-font";
    font-size: 2rem;
}
.woocommerce nav.woocommerce-pagination ul li a.next:before{
    content: "\e903";   
}
.woocommerce nav.woocommerce-pagination ul li a.prev:before{
    content: "\e902";   
}



/*--------------------------------------------------------------
- Product Entries
--------------------------------------------------------------*/

.woocommerce ul.products {
    border: none;
    padding-top: 20px;
}

.woocommerce .related ul.products{
    padding-top: 0;
}


.woocommerce .products .product-inner {
    position: relative;
    text-align: center;
}

.woocommerce ul.products li.product a img.woo-entry-image-main {
    display: block;
    margin: 0 auto 20px;
}

.woo-product-entry-slider {
    margin-bottom: 20px;
}

.woo-product-entry-slider .sp-arrow {
    height: 40px;
    width: 25px;
    line-height: 40px;
    background: rgba(0, 0, 0, .3);
}

.woo-product-entry-slider .sp-arrow:hover {
    background: rgba(0, 0, 0, 1);
}

.woo-product-entry-slider.wpex-slider .sp-buttons {
    left: auto;
    right: 0;
    top: 0;
    padding: 10px;
}

.woocommerce ul.products li.product h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled]{
    color: #FFF;
}
.woocommerce span.onsale {
    z-index: 9;
    color: #fff;
     border-radius: 0;
    font-size: 10px;
    line-height: 20px;
    padding: 0;
    text-transform: uppercase;
    line-height: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    top: 0;
    left: 0;
    -webkit-font-smoothing: inherit;
}

.woocommerce ul.products li.product .onsale {
    top: 0;
    right: 0;
    margin: 0;
    font-weight: normal;
}

.woocommerce ul.products li.product.outofstock .onsale {
    display: none;
}

.woocommerce ul.products li.product.outofstock .outofstock-badge {
    z-index: 9;
    color: #fff;
    font-size: 0.923em;
    padding: .6em .8em;
    line-height: 1;
    font-weight: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    left: 15px;
    margin: 0;
    background: #000;
    background: rgba( 0, 0, 0, 0.75);
}

.woocommerce ul.products li.product .star-rating {
    font-size: 12px;
    display: inline-block;
    margin: 5px 0 0;
}

.woocommerce ul.products li.product .price {
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    opacity: .7;
}

.woocommerce ul.products li.product .price del {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.woocommerce ul.products li.product .price del .amount {
    background: #e53935;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    top: 0;
    left: 0;
    padding: 0;
    line-height: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}


.woocommerce ul.products li.product .price ins {
    display: inline-block;
    text-decoration: none;
}

.woocommerce ul.products li.product .price del .amount {
    text-decoration: line-through;
}

.woocommerce ul.products li.product .button {
    margin: 5px auto 25px;
    display: inline-block;
    float: none;
}

.woocommerce ul.products li.product .added_to_cart {
    margin: 5px auto 25px;
    text-transform: uppercase;
}

.woocommerce ul.products li.product .button.added {
    display: none !important;
}

.woocommerce-cart .woocommerce ul.products li.product .button {
    display: none;
}
/*--------------------------------------------------------------
- WooCommerce Block
--------------------------------------------------------------*/
.wc-block-featured-product .price,
.wc-block-featured-product .amount{
    color: #FFF;
}
.wc-block-featured-product.has-background-dim:before{
    opacity: .7;
}
.wc-block-featured-product .wc-block-featured-product__link{
    padding-bottom: 0;
}
.wc-block-featured-product__link,
.wc-block-featured-product__link .wp-block-button{
    margin-bottom: 0;
}
/*--------------------------------------------------------------
- Single
--------------------------------------------------------------*/
.woocommerce div.product p.price span{
    font-weight: 900;
}
body.woocommerce #content div.product .product_title {
    margin: 0;
}

body.woocommerce #content div.product div.images {
    float: left;
    width: 52%;
    margin-bottom: 0;
}
.woocommerce div.product div.summary{
    margin-bottom: 0;
}

.product-variation-thumbs {
    margin: 0 -3px;
}

.product-variation-thumbs a {
    display: block;
    float: left;
    cursor: pointer;
    height: auto;
    width: 20%;
    padding: 3px;
    margin: 0;
}

body.woocommerce #content div.product div.summary {
    float: right;
    width: 44%;
    margin-bottom: 2em;
}

body.woocommerce #content div.product form.cart {
    padding: 0 0 20px;
    margin: 0;
}

body.woocommerce #content div.product div.summary .price {
    font-size: 24px;
}

body.woocommerce #content div.product div.summary ins,
body.woocommerce #content div.product div.summary del {
    display: inline;
}

body.woocommerce #content div.product div.summary ins {
    text-decoration: none;
}

body.woocommerce #content div.product div.summary del {
    font-size: 0.667em;
    margin-right: 5px;
}

body.woocommerce #content div.product p.price ins,
body.woocommerce #content div.product span.price ins {
    font-weight: normal;
}

.woocommerce .woocommerce-review-link {
    font-size: 1.2rem;
    opacity: 1;
    font-weight: normal;
}

body.woocommerce #content div.product .woocommerce-product-rating {
    margin: 0 0 10px;
}

body.woocommerce #content div.product form.cart .variations select {
    width: 50%;
    height: 40px;
    padding: 10px;
    font-size: 14px;
}

body.woocommerce #content div.product form.cart .variations .reset_variations {
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid;
    padding: 6px 20px;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-color: rgba(68, 68, 68, 0.2);
    margin: 0 0 0 10px;
}

bodybody.woocommerce #content div.product form.cart .variations .reset_variations:hover {
    color: red;
    border: 1px solid red;
}

body.woocommerce #content div.product div.summary .single_add_to_cart_button {
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0 30px;
    font-size: 12px;
    text-transform: uppercase;
}

body.woocommerce #content div.product div.summary .single_add_to_cart_button .fa {
    margin-left: 8px;
}

/* Single > Tabs */

.woocommerce div.product .woocommerce-tabs {
    padding-top: 20px;
    clear: both;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    height: 41px;
    overflow: visible;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    display: block;
    float: left;
    height: 39px;
    line-height: 39px;
    position: relative;
    z-index: 0;
    margin: 0 20px 0 0;
    border: none;
    border-radius: 0;
    padding: 0;
    background: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    font-weight: normal;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    text-decoration: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    z-index: 2;
    background: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    font-weight: bold;
    font-weight: 600;
    position: relative;
    margin-bottom: -1px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #d3ced2;
    z-index: 1;
    display: block;
}

/* Single > Quantity */

body.woocommerce #content div.product form.cart div.quantity {
    float: left;
    margin-right: 10px
}

body.woocommerce #content div.product form.cart div.quantity .minus,
body.woocommerce #content div.product form.cart div.quantity .plus,
body.woocommerce #content div.product form.cart div.quantity .qty {
    height: 32px;
    line-height: 34px;
    width: 34px;
    -moz-appearance: textfield;
    padding: 0;
}

body.woocommerce #content div.product form.cart div.quantity .qty {
    width: 55px;
    border-radius: 0;
    height: 32px;
}


/* Single > Variations */

body.woocommerce #content div.product form.cart .variations label {
    color: #000;
    font-weight: bold;
    font-weight: 600;
}

body.woocommerce #content div.product form.cart .variations td.label {
    padding: 0 0 10px;
    width: 20%;
}

body.woocommerce #content div.product form.cart .variations td.value {
    padding: 0 0 10px;
}

body.woocommerce #content div.product form.cart .variations .reset_variations {
    display: block;
    float: left;
    margin-top: 10px;
    font-size: 0.923em;
    color: #989898;
    font-weight: normal;
    border: 2px solid #ededed;
    padding: 3px 10px;
    border-radius: 0;
    text-decoration: none;
}

body.woocommerce #content div.product form.cart .variations .reset_variations:before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f00d";
    margin-right: 5px;
}

body.woocommerce #content div.product form.cart .variations .reset_variations:hover:before {
    color: red;
}

.single_variation {
    display: block;
    float: left;
    margin-bottom: 10px;
}

.variations_button {
    clear: both;
}


/* Single > Meta */

.product_meta {
    clear: both;
    font-size: 1.6rem;
    border-top: none;
    border-bottom: none;
    padding: 0;
}

.product_meta span {
    display: block;
    font-weight: normal;
}
.product_meta a,
.product_meta .sku{
    font-weight: 900;
}
.product_meta span.sku {
    display: inline
}

.product_meta .posted_in a:hover,
.product_meta .tagged_as a:hover {
    text-decoration: underline;
}


/* Single > Tabs */

body.woocommerce #content div.product .woocommerce-tabs {
    padding-top: 20px;
    clear: both;
}

body.woocommerce #content div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    height: 41px;
    overflow: visible;
}

body.woocommerce #content div.product .woocommerce-tabs ul.tabs:before {
    display: none;
}

body.woocommerce #content div.product .woocommerce-tabs ul.tabs li {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 0;
    margin: 0 20px 0 0;
    border: none;
    border-radius: 0;
    padding: 0;
    background: none;
}

body.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
body.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after {
    display: none;
}

body.woocommerce #content div.product .woocommerce-tabs ul.tabs li a {
    display: block;
    margin: -1px 0 0 0;
    padding: 0;
    background: none;
    font-weight: normal;
}

body.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover {
    text-decoration: none;
}

body.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active {
    z-index: 2;
    background: none;
}

body.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a {
    font-weight: bold;
    font-weight: 600;
    position: relative;
    margin-bottom: -1px;
}

.woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 0;
}

.woocommerce-tabs .panel h2,
.woocommerce .related h2 {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 30px;
}

.woocommerce table.shop_attributes th {
    font-weight: 600;
    text-align: left;
}

.woocommerce.single-product .social-share-title.theme-heading span.text:after {
    display: none;
}

.woocommerce #reviews h3 {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    float: none;
}

#reviews #commentform label {
    margin: 0 0 10px;
}

.woocommerce #review_form #respond p {
    padding: 0;
    margin: 0 0 5px;
    clear: both;
}

.woocommerce .comment-reply-title {
    float: none;
}

.woocommerce #review_form #respond p.form-submit {
    clear: both;
    display: block;
    margin: 20px 0 0 0;
    float: left;
}

#reviews .comment-form-author input,
#reviews .comment-form-email input {
    width: 100%;
}

.woocommerce #reviews #commentform p.stars a {
    border-color: rgba(0, 0, 0, 0.01);
}

.woocommerce .comment-form-rating {
    float: left;
}

.woocommerce #review_form #respond p.comment-form-author {
    margin-right: 15px;
}

.woocommerce #review_form #respond p.stars a {
    font-size: 22px;
    box-shadow: none !important;
}


/* Single > Comments > Entries */

.woocommerce #reviews #comments ol.commentlist {
    margin: 25px 0 -25px;
    position: relative;
    padding: 0;
}

.woocommerce #reviews #comments ol.commentlist li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.woocommerce #reviews #comments ol.commentlist li .description p:last-child {
    margin: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: none;
    padding: 0;
    margin: 0 0 0 80px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    border-radius: 50%;
    margin: 0 0 10px;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background: transparent;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 14px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
    font-weight: bold;
    font-weight: 600;
}

.woocommerce #review_form_wrapper {
    width: 100%;
    float: left;
    margin-top: 30px;
}

.woocommerce #review_form #respond {
    width: 100%;
}

.woocommerce #reviews #comment {
    height: 150px;
}


/*--------------------------------------------------------------
- Categories Listing
--------------------------------------------------------------*/

.woocommerce .term-description {
    margin-bottom: 40px
}

.woocommerce .term-description p:last-child {
    margin-bottom: 0
}

.woocommerce ul.products li.product-category a img {
    margin-bottom: 20px;
}

.woocommerce ul.products li.product h3 {
    margin: 0;
    padding: 0;
}



/*--------------------------------------------------------------
- Widgets
--------------------------------------------------------------*/
.product-categories li{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}
.product-categories li a{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}


.widget_layered_nav .count{
    display: inline-block;
}
.widget_products ul.cart_list li a, 
.widget_products ul.product_list_widget li a,
.woocommerce ul.product_list_widget li a{
    display: inline;
    font-weight: 900;
}
.widget_products .woocommerce-Price-amount{
    display: inline;
}
/* Widgets > Filter */

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.woocommerce .widget_price_filter .price_slider_amount {
    font-weight: bold;
    font-weight: 600;
    font-size: 1em;
}

.woocommerce .widget_price_filter .price_slider_amount .price_label {
    float: left;
    padding: 0;
    height: 24px;
    line-height: 24px;
    text-align: left;
    margin: 7px 0 0 0;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
    float: right;
}


/* Widgets > Cart & Products */
.widget_product_search button{
    margin-top: 10px;
}

.woocommerce ul.product_list_widget {
    margin: 0 !important;
    padding: 0;
}

.widget_shopping_cart ul.product_list_widget {
    padding: 0;
}

.woocommerce ul.product_list_widget li .remove {
    display: none;
}

.woocommerce ul.product_list_widget li,
.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
    position: relative;
    clear: both;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    min-height: 60px;
}

.woocommerce.widget_shopping_cart .cart_list li:last-child {
    padding: 0;
    margin: 0;
}

.woocommerce ul.product_list_widget li.empty {
    min-height: 0;
    margin: 0;
    border: none;
    padding: 10px 0 0;
    text-align: center;
}

.woocommerce ul.product_list_widget li img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 15px 0 0;
    border: 1px solid rgba(0,0,0,0.1);
    object-fit: cover;
}

.woocommerce ul.product_list_widget li img:hover,
.woocommerce ul.products li.product a img:hover {
    opacity: 0.8;
}

.woocommerce ul.product_list_widget li .quantity {
    display: block;
    margin: 5px 0 0;
    line-height: 1em;
}

.woocommerce ul.product_list_widget li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.woocommerce .widget_shopping_cart_content .buttons {
    margin: 0;
    padding-top: 10px;
}

.woocommerce .widget_shopping_cart_content .buttons .button {
    width: 100%;
    text-align: center;
}

.woocommerce .widget_shopping_cart_content .buttons .checkout {
    float: right;
}
.woocommerce .widget_shopping_cart .buttons a, 
.woocommerce.widget_shopping_cart .buttons a{
    margin-right: 0;
    margin-bottom: 0;
}
.woocommerce.widget_shopping_cart .buttons a + a{
    margin-top: 10px;
    margin-bottom: 0;
}


.woocommerce .widget_shopping_cart_content .buttons .wc-forward:after,
.woocommerce .widget_shopping_cart_content .buttons .checkout:after {
    font-family: "FontAwesome";
    margin-left: 8px;
}

.woocommerce .widget_shopping_cart_content .buttons .wc-forward:after {
    content: "\f07a"
}

.woocommerce .widget_shopping_cart_content .buttons .checkout:after {
    content: "\f054"
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
    display: block;
    margin: 5px 0;
}

.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl {
    display: none;
}


/* Widgets > Search */

.woocommerce-product-search label {
    display: none;
}

.woocommerce-product-search {
    position: relative;
}

.woocommerce-product-search input[type="search"] {
    text-align: left;
    border-radius: 25px;
}


.woocommerce .woocommerce-breadcrumb {
    border-bottom: none;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}
.reviewer{
    font-size: 1.4rem;
    opacity: .5;
}

/* Widgets > Product Categories */

.widget_product_categories .children{
    display: none;
}

/*--------------------------------------------------------------
- Cart
--------------------------------------------------------------*/


/* Cart > Paddings */
#add_payment_method table.cart .product-thumbnail, .woocommerce-cart table.cart .product-thumbnail, .woocommerce-checkout table.cart .product-thumbnail{
    min-width: 32px;
    width: 90px;
}
.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
    padding: 10px 15px;
}
.woocommerce table.shop_table td.product-name{
    width: 200px;
}

.woocommerce table.shop_table th.product-price,
.woocommerce table.shop_table th.product-quantity,
.woocommerce table.shop_table th.product-subtotal,
.woocommerce table.shop_table td.product-price,
.woocommerce table.shop_table td.product-quantity,
.woocommerce table.shop_table td.product-subtotal{
    width: 100px;
    text-align: left;
}
.woocommerce table.shop_table td,
.woocommerce-cart .cart-collaterals .cart_totals tr td {
    border-bottom: 1px solid;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.order-total  td{
    border-bottom: none;
}
.woocommerce-cart .cart_item td:last-child,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
    border-right: none;
}

.woocommerce .quantity .qty {
    height: 40px;
    padding: 5px;
    margin-right: 5px;
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.select2-container--default .select2-selection--single{
    background: transparent;
}

.woocommerce ul#shipping_method li{
    margin-bottom: 0;
}

/* Cart > Table */

.woocommerce table.shop_table {
    border-collapse: collapse;
    margin: 0 0 40px;
}

.woocommerce table.shop_table {
    border-radius: 0;
}


/* Cart > Remove */

.woocommerce table.shop_table .product-remove {
    text-align: center;
    padding: 5px;
    width: 50px;
}

.woocommerce table.shop_table a.remove {
    display: inline;
    display: inline-block;
    background: no-repeat;
    box-shadow: none;
    text-decoration: none;
}

.woocommerce table.shop_table a.remove:hover {
    color: red !important;
}


/* Cart > Variations */

.woocommerce td.product-name dl.variation dt {
    font-weight: bold;
    font-weight: 600;
}

.woocommerce div.product form.cart .variations td.label{
    vertical-align: middle;
    width: 100px;
}
.variations .label label{
    text-transform: capitalize;
}
.variations td{
    padding:0;
}
.variations tr{
    margin-bottom: 10px;
    display: table;
    width: 100%;
}
.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th{
    line-height: 1;
}

/* Cart > Actions */

.woocommerce-cart table.cart td.actions input {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    line-height: 40px;
    padding: 1px 20px;
    border-radius: 0;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    line-height: 40px;
    padding: 5px 10px;
    margin: 0 8px 0 0;
    height: 40px;
    border-radius: 0;
    font-size: 1.4rem;
}

.woocommerce-cart table.cart td.actions input[name="update_cart"] {
    float: right;
}

.woocommerce-cart table.cart td.actions .coupon {
    float: left;
}

.woocommerce-cart table.cart td.actions .coupon label {
    display: none;
}



/* Cart > Collaterals */

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    width: 100%
}

.woocommerce .cart-collaterals:after,
.woocommerce .cart-collaterals:before,
.woocommerce-page .cart-collaterals:after,
.woocommerce-page .cart-collaterals:before {
    content: " ";
    display: table;
}

.woocommerce .cart-collaterals:after,
.woocommerce-page .cart-collaterals:after {
    clear: both
}

.woocommerce .cart-collaterals .related,
.woocommerce-page .cart-collaterals .related {
    width: 30.75%;
    float: left;
}

.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
    width: 48%;
    float: left;
    padding: 0 20px;
    border-width: 1px;
    border-style: solid;
}

.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
    width: 48%;
    clear: right;
    float: right;
}

.woocommerce .cart-collaterals .shipping_calculator:after,
.woocommerce .cart-collaterals .shipping_calculator:before,
.woocommerce-page .cart-collaterals .shipping_calculator:after,
.woocommerce-page .cart-collaterals .shipping_calculator:before {
    content: " ";
    display: table;
}

.woocommerce .cart-collaterals .shipping_calculator:after,
.woocommerce-page .cart-collaterals .shipping_calculator:after {
    clear: both
}

.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
    width: 47%
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 100%;
    padding: 0 0 20px;
    border: none;

}

.woocommerce .cart-collaterals h2 {
    border-bottom: none;
    margin: 0 0 10px;
    padding: 0;
    line-height: 28px;
    font-size: 18px;
    text-align: left;
}

.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 140px;
}

.woocommerce .cart-collaterals .products .product {
    margin-bottom: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
    width: 100%;
    border-top: none;
}

.woocommerce form .form-row {
    padding: 3px 0;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
    font-weight: bold;
    font-weight: 600;
    color: #444;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
    width: 30%;
}

.woocommerce table.shop_table tbody:first-child tr:first-child th,
.woocommerce table.shop_table tbody:first-child tr:first-child td {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
}


.woocommerce-cart .cart-collaterals .cart_totals .button[name="calc_shipping"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.woocommerce-cart .wc-proceed-to-checkout {
    padding-bottom: 0;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    margin-bottom: 0;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper{
    max-width: initial;
}
/*--------------------------------------------------------------
- Checkout
--------------------------------------------------------------*/


/* Checkout > Border Colors */

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border-color: transparent;
    margin: 20px 0;
    padding: 0;
    border-radius: 0;
}


/* Checkout > Coupon Code */

.woocommerce form.checkout_coupon .form-row-first {
    width: 68%;
    float: left;
}

.woocommerce form.checkout_coupon .form-row-last {
    width: 30%;
    float: right;
}

.woocommerce form.checkout_coupon input {
    width: 100%;
}

.woocommerce form.checkout_coupon p {
    margin: 0;
}


/* Checkout > Columns */

.woocommerce .woocommerce-checkout .col2-set .col-1 {
    width: 100%;
    margin-bottom: 30px;
    max-width: 100%;
    padding: 0;
}

.woocommerce .woocommerce-checkout .col2-set .col-2 {
    width: 100%;
    padding: 0;
    max-width: 100%;
}


/* Checkout > Addresses */

.woocommerce .woocommerce-checkout #customer_details h3,
.woocommerce #order_review_heading {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
}

.woocommerce .woocommerce-checkout #customer_details p.form-row label {
    margin: 0 0 5px;
    display: inline-block;
}


/* Checkout > Your Order */

.woocommerce table.shop_table.woocommerce-checkout-review-order-table {
    width: 100%;
}

.woocommerce-checkout-payment {
    width: 100%;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, 
.woocommerce-checkout #payment div.payment_box{
    font-size: 1.4rem;
    padding: 20px 20px;
    line-height: 1.6;
}
.woocommerce-privacy-policy-text{
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 40px;
}
#add_payment_method #payment .payment_method_paypal .about_paypal, .woocommerce-cart #payment .payment_method_paypal .about_paypal, .woocommerce-checkout #payment .payment_method_paypal .about_paypal{
    box-shadow: none;
    background: transparent;
    margin-left: 20px;
    line-height: 1.8;
}
.woocommerce table.shop_table tfoot td {
    font-weight: normal;
}

.woocommerce-checkout-review-order-table tfoot th {
    border-right: 1px solid rgba(0, 0, 0, 0.01);
    background: rgba(0, 0, 0, 0.05);
}

.woocommerce-checkout #payment {
    border: none;
    border-radius: 0;
}

.woocommerce-checkout #place_order {
    width: 100%;
    max-width: 300px;
}

.woocommerce-checkout .form-row.place-order {
    margin: 0;
}

.woocommerce-page form #order_comments {
    height: 200px;
    resize: vertical;
}

.woocommerce-page #payment #place_order {
    width: 100%;
    max-width: 300px;
    float: none;
    display: inline-block
}

.woocommerce-checkout #payment div.form-row {
    text-align: center;
}

.woocommerce-checkout #payment ul.payment_methods li {
    line-height: 26px;
    text-align: left;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    list-style: none;
}

.woocommerce-checkout #payment ul.payment_methods li label{
    display: inline-block
}

.woocommerce form .form-row .required {
    text-decoration: none;
}

.woocommerce #order_review_heading {
    margin-bottom: 0;
    margin-top: 20px;
}

#add_payment_method #payment ul.payment_methods li input,
.woocommerce-cart #payment ul.payment_methods li input,
.woocommerce-checkout #payment ul.payment_methods li input {
    margin: 0 5px 0 0;
}

/*--------------------------------------------------------------
- Checkout + Order Received
--------------------------------------------------------------*/

.woocommerce ul.order_details {
    border: none;
    padding: 20px;
    margin: 0 0 20px;
    background: #f7f7f7;
}

.woocommerce ul.order_details li {
    border-color: rgba(0, 0, 0, 0.01);
}

.product-quantity {
    font-weight: normal;
}

.woocommerce .shop_table.order_details tfoot th,
.woocommerce .shop_table.customer_details th {
    border-right: 1px solid rgba(0, 0, 0, 0.01);
    background: #f7f7f7;
    font-weight: bold;
    font-weight: 600;
    color: #444;
}


/* Checkout > Addresses */

.woocommerce .col2-set.addresses {
    text-align: center;
}

.woocommerce .col2-set.addresses h3 {
    margin: 0 0 10px;
}

.woocommerce address {
    margin: 0;
}
.woocommerce-account .woocommerce-MyAccount-content{
    font-size: 1.4rem;
    font-weight: normal;
}
.woocommerce .col2-set.addresses .col-1,
.woocommerce .col2-set.addresses .col-2 {
    float: left;
    width: 100%;
    flex: 0 0 100%;
    padding: 20px;
    border: none;
    max-width: 100%;
}
.woocommerce-Address{
    margin-bottom: 3.2rem;
}
.woocommerce-address-fields__field-wrapper + p .button,
.woocommerce .woocommerce-Button[name="save_account_details"]{
    margin-top: 20px;
}
.woocommerce .col2-set.addresses .col-2 {
    float: right;
}

.woocommerce-account .addresses .title h3 {
    font-size: 20px;
    line-height: 30px;
}

.woocommerce-account address {
    text-align: left;
}

.woocommerce form .form-row .select2-container {
    line-height: 40px;
}

.woocommerce .order_details li {
    font-size: 14px;
    margin-bottom: 20px;
}

.woocommerce .order_details li:last-child {
    margin-bottom: 0;
}

.woocommerce address {
    padding: 20px;
}
.woocommerce-column__title{
    text-align: left;
    font-size: 2rem;
    margin-bottom: 10px;
}
.woocommerce .woocommerce-customer-details address{
    border: none;
    padding: 0;
}
.woocommerce div.product form.cart .variations td.value{
    padding-bottom: 10px;
}
.woocommerce div.product form.cart .variations td.label {
    padding: 15px 0 0 0;
    vertical-align: top;
}
.variations tr{
    border:none;
}
.woocommerce-product-gallery img {
    display: block;
    height: auto;
}
/*--------------------------------------------------------------
- Notice
--------------------------------------------------------------*/
.woocommerce-notice{
    padding: 20px;
}
.woocommerce-notice--success,
.woocommerce-thankyou-order-received{
    background: #4CAF50;
    color: #FFF;
}

/*--------------------------------------------------------------
- My Account
--------------------------------------------------------------*/

p.myaccount_user {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.01);
}

.woocommerce table.my_account_orders {
    font-size: 0.923em;
}

.woocommerce .order-info mark {
    background: none;
    color: #444;
    font-weight: bold;
    font-weight: 600;
    text-decoration: underline;
}






/*--------------------------------------------------------------
- My Account
--------------------------------------------------------------*/
.woocommerce-account .col-lg-6{
    flex: 0 0 100%;
    max-width: 100%;
}
.woocommerce-cart .col-lg-6,
.woocommerce-checkout .col-lg-6{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;    
}

.woocommerce-MyAccount-navigation ul{
    margin: 0;
    padding: 10px 0;
}
.woocommerce-MyAccount-navigation ul li{
    list-style: none;
}
body .woocommerce-MyAccount-navigation ul li a{
    display: block;
    box-shadow: none;
    padding: 10px 25px 10px;
    font-size: 1.4rem;
    line-height: 1;
    text-decoration: none !important;
    border-bottom: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
    width: 26%;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
    width: 100%;
}
.woocommerce-form-row span{
    font-size: 1.2rem;
    opacity: .5;
}
.woocommerce table.shop_table td, .woocommerce-cart .cart-collaterals .cart_totals tr td{
    border-bottom: 1px solid transparent;
}


.navbar-style-two .dropdown-menu {
    width: 100%
}

.navbar-style-two li.woo-menu-icon {
    float: right
}

.navbar-style-two li.woo-menu-icon {
    border-left: 1px solid rgba(0, 0, 0, 0.01)
}

body.woocommerce #content div.product .product_title {
    width: auto;
}

.upsells.products h2 {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 30px;
}


.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    padding: 0 1.5em;
}

.cross-sells ul.products {
    border-top: none;
    padding: 0 0 20px;
}


.woocommerce div.product div.images .flex-control-thumbs li {
    padding: 2px;
}

.woocommerce div.product div.images .flex-control-thumbs {
    margin: 2px -2px;
}
.wc-block-featured-product .wc-block-featured-product__title{
    font-size: 4rem;
}
.wc-block-featured-product__link .wp-block-button .wp-block-button__link {
    min-height: auto;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3{
    border-bottom: none;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product h3{
    padding: .5em 10px 0;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    padding: .5em 0 0;    
}
.select2-container--default .select2-selection--single,
.select2-dropdown{
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0;    
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
}
.woocommerce ul.products li.product .button.product_type_external{
    font-size: .8rem;
    max-width: 180px;
    line-height: 1.4;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
}

@media (max-width: 599px){
    .wc-block-grid.has-3-columns .wc-block-grid__product {
        flex: 1 0 100%;
        max-width: 100%;
    }
    .wc-block-grid__product-image img{
        width: 100%;
    }
}

@media(max-width: 1130px) and (min-width: 1024px) {
.woocommerce ul.products li.product .button, .woocommerce ul.products li.product .added_to_cart {
    height: 30px;
    font-size: 11px;
    line-height: 30px;
    padding: 0 8px;
}
.woocommerce ul.products li.product .price{
    font-size: 14px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 8px;
}
}
@media(max-width: 768px){
.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    margin-bottom: 13px;
}
.woocommerce ul.products[class*=columns-] li.product:nth-child(2n), .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n) {
    margin-left: 13px;
}
.woocommerce table.shop_table th.product-price,
.woocommerce table.shop_table th.product-quantity,
.woocommerce table.shop_table th.product-subtotal,
.woocommerce table.shop_table td.product-price,
.woocommerce table.shop_table td.product-quantity,
.woocommerce table.shop_table td.product-subtotal,
#add_payment_method table.cart .product-thumbnail, .woocommerce-cart table.cart .product-thumbnail, .woocommerce-checkout table.cart .product-thumbnail,
.woocommerce table.shop_table .product-remove,
.woocommerce table.shop_table td.product-name{
    width: auto;
}
.woocommerce .woocommerce-cart-form  table.shop_table_responsive tr, .woocommerce-page .woocommerce-cart-form table.shop_table_responsive tr {
    margin-bottom: 20px;
}
.woocommerce .table.shop_table .product-remove{
    padding: 8px;
}
}
@media(max-width: 729px){
    .woocommerce .woocommerce-breadcrumb{
    margin-top: 15px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    font-size: 1.4rem;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    width: 100%;
}
}
@media(max-width: 414px){
.woocommerce ul.products li.product .button, .woocommerce ul.products li.product .added_to_cart {
    height: 30px;
    font-size: 11px;
    line-height: 30px;
    padding: 0 8px;
}
.woocommerce ul.products li.product .price{
    font-size: 14px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 8px;
}
.woocommerce .woocommerce-ordering{
    width: 100%;
}
.woocommerce ul.products[class*=columns-] li.product:nth-child(2n), .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n),
.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 0 1em;
}
.woocommerce .woocommerce-breadcrumb{
    margin-top: 15px;
}
.woocommerce div.product .woocommerce-tabs .panel{
    clear: both;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    width: 100%;
}
body.woocommerce .button, body.woocommerce-page .button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce #review_form #respond .form-submit input, 
.woocommerce .widget_price_filter .price_slider_amount .button{
    padding: 9px 10px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
    margin-bottom: 10px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text+.button{
    width: 100%;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    font-size: 1.2rem;
}

}