body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td,
nav,
a {
    direction: rtl;
    unicode-bidi: inherit;
}


input[type="checkbox"], input[type="radio"]{
    margin-left: 7px;
    margin-right: 0;
}

td, th{
    text-align: right;
}

ul, ol{
    padding-right: 24px;
    padding-left: 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid{
    margin-left: 0;
    margin-right: 0;
}

.row, .wp-block-columns{
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.no-gutters{
    margin-left: 0;
    margin-right: 0;
}

.no-gutters>.col, .no-gutters>[class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}

.offset-1{
    margin-right: 8.3333333333%;
    margin-left: 0;
}

.offset-2{
    margin-right: 16.6666666667%;
    margin-left: 0;
}

.offset-3{
    margin-right: 25%;
    margin-left: 0;
}

.offset-4{
    margin-right: 33.3333333333%;
    margin-left: 0;
}

.offset-5{
    margin-right: 41.6666666667%;
    margin-left: 0;
}

.offset-6{
    margin-right: 50%;
    margin-left: 0;
}

.offset-7{
    margin-right: 58.3333333333%;
    margin-left: 0;
}

.offset-8{
    margin-right: 66.6666666667%;
    margin-left: 0;
}

.offset-9{
    margin-right: 75%;
    margin-left: 0;
}

.offset-10{
    margin-right: 83.3333333333%;
    margin-left: 0;
}

.offset-11{
    margin-right: 91.6666666667%;
    margin-left: 0;
}

.col, [class*="col-"], .wp-block-column{
    padding-left: 7.5px;
    padding-right: 7.5px;
}

dd{
    margin-right: 24px;
    margin-left: 0;
}

th{
    text-align: right;
}

.text-left{
    text-align: right;
}

.text-right{
    text-align: left;
}


.m-mc-reset{
    margin-right: 0;
    margin-left: 0;
}


.header-bottom .slot-r nav>ul>li{
    padding-right: 10px;
    padding-left: 10px;
}

.header-bottom .megaphone-site-branding+nav, .header-bottom .megaphone-site-branding+.d-lg-flex nav{
    margin-right: 20px;
    margin-left: 0;
}

.header-bottom .slot-r ul+ul, .header-bottom .slot-r nav+ul{
    margin-right: 20px;
    margin-left: 0;
}

.header-bottom .slot-c nav>ul>li{
    padding-right: 10px;
    padding-left: 10px;
}

.header-bottom .slot-c nav+ul, .header-bottom .slot-c ul+ul{
    margin-right: 20px;
    margin-left: 0;
}

.header-bottom .slot-c .megaphone-menu-social{
    margin-right: 20px;
    margin-left: 0;
}

.header-bottom .slot-c>nav>ul>li:first-child{
    padding-right: 0;
}

.header-bottom .slot-c>nav>ul>li:last-child{
    padding-left: 0;
}

.header-sticky-main .slot-c>div>nav>ul>li{
    padding-right: 10px;
    padding-left: 10px;
}

.header-sticky-main .slot-l>div>nav>ul>li{
    padding-right: 10px;
    padding-left: 10px;
}

.megaphone-site-branding+nav, .megaphone-site-branding+.d-lg-flex nav{
    margin-right: 20px;
    margin-left: 0;
}

.header-sticky{
    right: 0;
    left: auto;
}

.megaphone-header .sub-menu a{
    padding: 0 30px 15px 25px ;
}

.megaphone-header .sub-menu{
    padding: 25px 0 10px 0 ;
    right: -30px;
    left: auto;
}

.megaphone-header .sub-menu .sub-menu{
    right: 100%;
    left: auto;
}

.megaphone-header nav>ul>li.menu-item-has-children>a:after{
    margin: 4px -1px 0 0 ;
    content:"\e91b";
}

.megaphone-header nav .sub-menu>li.menu-item-has-children>a:after{
    margin: 4px -1px 0 0 ;
    float: left;
    content:"\e91b";
}

.megaphone-menu-action .mf{
    text-align: left;
    margin-right: 5px;
    margin-left: 0;
}

.megaphone-header li .sub-menu.megaphone-rev{
    right: auto !important;
    left: 0;
}

.megaphone-header li .sub-menu .sub-menu.megaphone-rev{
    right: auto !important;
    left: 100%;
}

.megaphone-menu-donate li a:before{
    margin-left: 5px;
    margin-right: 0;
}

.megaphone-menu-donate.megaphone-menu-action li{
    margin-left: 10px;
    margin-right: 0;
}

.megaphone-menu-donate.megaphone-menu-action li:last-child{
    margin-left: 0;
    margin-right: 10px;
}

.megaphone-menu-social li:last-child{
    margin-left: 0;
}

.megaphone-menu-subscribe li:last-child{
    margin-left: 0;
}

.megaphone-menu-subscribe li a::before{
    margin-left: 3px;
    margin-right: 0;
}

.megaphone-modal .megaphone-menu-subscribe{
    margin-right: 0;
}

.megaphone-menu-action .search-form button[type=submit]{
    left: 1px;
    right: auto;
}

.megaphone-header ul.megaphone-menu .megaphone-mega-menu>.sub-menu{
    padding: 28px 28px 28px 28px ;
    right: 30px;
    left: auto;
}

.megaphone-header ul.megaphone-menu .megaphone-mega-menu>.sub-menu .sub-menu{
    border-right: none;
    border-left: none;
}

.megaphone-header ul.megaphone-menu .megaphone-mega-menu .sub-menu>li a{
    padding-right: 0;
}

.megaphone-header ul.megaphone-menu .megaphone-mega-menu .sub-menu .sub-menu>li a{
    padding-right: 0;
}

.megaphone-header ul.megaphone-menu .megaphone-mega-menu>.sub-menu>li{
    padding-left: 25px;
    padding-right: 0;
}

.megaphone-header ul.megaphone-menu .megaphone-mega-menu>.sub-menu>li:last-child{
    padding-left: 0;
}

.megaphone-header ul.megaphone-menu .megaphone-mega-menu .sub-menu>li:hover .sub-menu, .megaphone-header ul.megaphone-menu .megaphone-mega-menu .sub-menu .sub-menu{
    right: 0;
    left: auto;
}

ul.megaphone-menu .megaphone-mega-menu .sub-menu.megaphone-rev{
    right: 0 !important;
    left: 0 !important;
}

.megaphone-mega-menu .megaphone-menu-posts .entry-media>a:first-child:after{
    right: 0;
    left: auto;
}

.megaphone-header ul.megaphone-menu .megaphone-mega-menu .megaphone-menu-posts>li .next{
    margin-left: -40px;
    margin-right: 0;
}

.megaphone-header ul.megaphone-menu .megaphone-mega-menu .megaphone-menu-posts>li .prev{
    margin-right: -40px;
    margin-left: 0;
}

.megaphone-overlay .entry-media a:after, .megaphone-overlay .entry-media:after, .megaphone-post .entry-media a:after{
    right: 0;
    left: auto;
}

.megaphone-overlay .megaphone-section-subscribe{
    right: 0;
    left: auto;
}

.wa-layout-3 .megaphone-section-subscribe, .single-layout-5 .megaphone-section-subscribe{
    background: right  0;
}

.wa-layout-3 .megaphone-section-subscribe .megaphone-menu-subscribe li, .single-layout-5 .megaphone-section-subscribe .megaphone-menu-subscribe li{
    margin-left: 5px;
    margin-right: 0;
}

.wa-layout-3 .megaphone-section-subscribe  .single-layout-5 .megaphone-section-subscribe .megaphone-player-buttons a{
    padding: 0 16px 0 20px ;
}

.single-layout-5 .player-paceholder.player-paceholder-medium-single{
    padding-right: 0;
}

.entry-media .entry-episode, .megaphone-overlay .episode-item{
    left: 0;
    right: auto;
}

.megaphone-overlay .episode-item, .episode-item{
    padding: 0 13px 0 13px ;
}

.episode-item strong{
    margin-right: 3px;
    margin-left: 0;
}

.meta-sponsored span:before{
    margin-left: 5px;
    margin-right: 0;
}

.megaphone-triangle{
    right: -15px;
    left: auto;
    border-width: 0 15px 30px 0 ;
}

.megaphone-triangle-after{
    border-width: 30px 0 0 15px ;
    left: -15px;
    right: auto;
}

.entry-header .episode-item{
    margin-right: 40px;
    margin-left: 15px;
}

.megaphone-triangle:before{
    right: -30px;
    left: auto;
}

.entry-footer .megaphone-button+.megaphone-button, .entry-footer .megaphone-player-buttons a+.megaphone-button, .megaphone-player-buttons .entry-footer a+.megaphone-button, .entry-footer .wp-block-button .wp-block-button__link+.megaphone-button, .wp-block-button .entry-footer .wp-block-button__link+.megaphone-button, .entry-footer .megaphone-section-instagram .section-title a+.megaphone-button, .megaphone-section-instagram .section-title .entry-footer a+.megaphone-button, .entry-footer .megaphone-player-buttons .megaphone-button+a, .megaphone-player-buttons .entry-footer .megaphone-button+a, .entry-footer .megaphone-player-buttons a+a, .megaphone-player-buttons .entry-footer a+a, .entry-footer .wp-block-button .megaphone-player-buttons .wp-block-button__link+a, .megaphone-player-buttons .entry-footer .wp-block-button .wp-block-button__link+a, .wp-block-button .entry-footer .megaphone-player-buttons .wp-block-button__link+a, .megaphone-player-buttons .wp-block-button .entry-footer .wp-block-button__link+a, .entry-footer .megaphone-section-instagram .section-title .megaphone-player-buttons a+a, .entry-footer .wp-block-button .megaphone-button+.wp-block-button__link, .wp-block-button .entry-footer .megaphone-button+.wp-block-button__link, .entry-footer .megaphone-player-buttons .wp-block-button a+.wp-block-button__link, .wp-block-button .entry-footer .megaphone-player-buttons a+.wp-block-button__link, .megaphone-player-buttons .entry-footer .wp-block-button a+.wp-block-button__link, .wp-block-button .megaphone-player-buttons .entry-footer a+.wp-block-button__link, .entry-footer .wp-block-button .wp-block-button__link+.wp-block-button__link, .wp-block-button .entry-footer .wp-block-button__link+.wp-block-button__link, .entry-footer .megaphone-section-instagram .section-title .wp-block-button a+.wp-block-button__link, .wp-block-button .entry-footer .megaphone-section-instagram .section-title a+.wp-block-button__link, .megaphone-section-instagram .section-title .entry-footer .wp-block-button a+.wp-block-button__link, .wp-block-button .megaphone-section-instagram .section-title .entry-footer a+.wp-block-button__link, .entry-footer .megaphone-section-instagram .section-title .megaphone-button+a, .megaphone-section-instagram .section-title .entry-footer .megaphone-button+a, .megaphone-section-instagram .section-title .entry-footer .megaphone-player-buttons a+a, .entry-footer .wp-block-button .megaphone-section-instagram .section-title .wp-block-button__link+a, .megaphone-section-instagram .section-title .entry-footer .wp-block-button .wp-block-button__link+a, .wp-block-button .entry-footer .megaphone-section-instagram .section-title .wp-block-button__link+a, .megaphone-section-instagram .section-title .wp-block-button .entry-footer .wp-block-button__link+a, .entry-footer .megaphone-section-instagram .section-title a+a, .megaphone-section-instagram .section-title .entry-footer a+a{
    margin-left: 10px;
    margin-right: 0;
}

.megaphone-show-play{
    margin-left: 15px;
    margin-right: 0;
}

.megaphone-duotone-overlay .entry-media::before{
    right: 0;
    left: auto;
}

.megaphone-duotone-overlay .entry-media a:after{
    background: right  0;
}

.megaphone-slider.has-arrows .owl-nav{
    right: 50%;
    left: auto;
}

.section-subnav a{
    padding: 0 0 0 10px ;
}

.section-meta+.section-subnav{
    margin-right: 10px;
    margin-left: 0;
}

.author .megaphone-archive-1 .archive-section-head>span:first-child, .author .megaphone-archive-3 .archive-section-head>span:first-child{
    float: right;
    margin-left: 24px;
    margin-right: 0;
}

.megaphone-archive-2 .search-form{
    margin-right: 0;
    margin-left: 0;
}

.section-head .section-title, .section-title{
    text-align: right;
}

.section-title+a{
    margin-right: 10px;
    margin-left: 0;
}

.section-title:before{
    margin-left: 2px;
    margin-right: 0;
}

.megaphone-button i, .megaphone-player-buttons a i, .wp-block-button .wp-block-button__link i, .megaphone-section-instagram .section-title a i{
    margin-left: 8px;
    margin-right: 0;
}

.megaphone-pagination a.next{
    left: 0;
    right: auto;
}

.megaphone-pagination a.prev{
    right: 0;
    left: auto;
}

.megaphone-pagination .next a:after, .megaphone-pagination a.next:after{
    margin-right: 2px;
    margin-left: -9px;
}

.megaphone-pagination .prev a:before, .megaphone-pagination a.prev:before{
    margin-left: 2px;
    margin-right: -9px;
}

.megaphone-link-pages{
    text-align: right;
}

.success, .error, #usp-success-message{
    float: right;
}

span.wpcf7-not-valid-tip{
    left: 3px;
    right: auto;
}

.search-alt button[type="submit"]{
    left: 10px;
    right: auto;
}

.sticky .entry-title a:before{
    margin-left: 8px;
    margin-right: 0;
}

.form-submit{
    margin-left: 20px;
    margin-right: 0;
}

.comment-author img{
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

.comment-content{
    margin-right: 0;
    padding-right: 75px;
    padding-left: 0;
}

.comment-body .reply{
    right: 0;
    left: auto;
}

.pingback .comment-content, .trackback .comment-content{
    margin-right: 0;
    padding-right: 0;
}

.comment-respond .section-title+small{
    left: 0;
    right: auto;
    padding-right: 5px;
    padding-left: 0;
}

.bypostauthor .fn:after{
    margin-right: 7px;
    margin-left: 0;
}

#reply-title small{
    right: 0;
    left: auto;
}

.comment-form-cookies-consent input[type=checkbox]{
    margin: 3px 0 0 0 ;
}

.comment-form-cookies-consent label{
    margin: 0 5px 0 0 ;
}

.widget_calendar table tfoot tr #next{
    text-align: left;
}

.widget_calendar table caption{
    right: 0;
    left: auto;
}

.widget ul.flickr li{
    margin: 2px 1px 0 1px !important;
}

.widget.mks_ads_widget .small li, .widget.mks_adswidget_ul.small li{
    margin-left: 6px;
    margin-right: 6px;
}

.widget .count{
    right: 0;
    left: auto;
    margin-left: 10px;
    margin-right: 0;
}

.widget .megaphone-accordion-nav+.count{
    left: 20px;
    right: auto;
}

.widget .mks_themeforest_widget_ul li{
    margin: 0 0 10px 5px ;
}

.tagcloud a{
    margin-right: 5px;
    margin-left: 0;
}

.widget_search .widget-inside button[type=submit]{
    left: 2px;
    right: auto;
}

.widget .sub-menu, .widget .children{
    margin: 10px 15px 10px 0 ;
}

.widget .menu-item-has-children .megaphone-accordion-nav, .widget .page_item_has_children .megaphone-accordion-nav, .widget .cat-parent .megaphone-accordion-nav{
    left: -10px;
    right: auto;
}

.megaphone-widget-posts-small .entry-media{
    margin-left: 24px;
    margin-right: 0;
}

.megaphone-menu-mobile .megaphone-menu-social li, .megaphone-cart li{
    margin-right: 0;
    margin-left: 15px;
}

.entry-tags span{
    margin-left: 8px;
    margin-right: 0;
}

.entry-tags a{
    margin-left: 5px;
    margin-right: 0;
}

.author-avatar{
    margin-left: 20px;
    margin-right: 0;
}

.author-content .section-subnav a{
    padding-left: 0;
}

.author-list .author-avatar{
    margin-left: 25px;
    margin-right: 0;
}

.author-list .social-icons-clean a{
    margin-left: 10px;
    margin-right: 0;
}

.entry-media .wp-caption-text{
    left: 15px;
    right: auto;
}

.megaphone-show-more:before{
    right: 0;
    left: auto;
}

.entry-summary>span{
    float: right;
    margin-left: 5px;
    margin-right: 0;
}

.single-layout-5 .entry-media .wp-caption-text{
    right: 50%;
    left: 50%;
}

p.has-drop-cap:not(:focus)::first-letter{
    float: right;
    margin-left: 25px;
    margin-right: 0;
}

.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item{
    margin: 0 0 12px 12px ;
}

.wp-block-cover, .wp-block-cover-image{
    background-position: 50%;
}

.wp-block-button.alignleft, .megaphone-sidebar-none .wp-block-button.alignleft{
    margin-right: 0;
    float: right;
    margin-left: 20px;
}

.megaphone-sidebar-none .entry-content .wp-block-button.alignleft{
    margin-left: 30px;
    margin-right: 0;
}

.megaphone-sidebar-none .entry-content .wp-block-button.alignright{
    margin-right: 30px;
    margin-left: 0;
}

.wp-block-button.alignright, .megaphone-sidebar-none .wp-block-button.alignright{
    margin-left: 0;
    float: left;
    margin-right: 20px;
}

.wp-block-quote:before{
    right: -40px;
    left: auto;
}

body.megaphone-sidebar-left .wp-block-pullquote, body.megaphone-sidebar-right .wp-block-pullquote{
    margin-right: 0;
    margin-left: 0;
}

.wp-block-pullquote.alignfull.is-style-default>*, .wp-block-pullquote.alignwide>*, .wp-block-pullquote.alignwide.is-style-solid-color>*, .wp-block-pullquote.alignfull.is-style-solid-color>*, .wp-block-pullquote.is-style-solid-color blockquote, .wp-block-pullquote.alignfull blockquote{
    margin-right: 0;
    margin-left: 0;
}

.wp-block-pullquote.alignwide{
    margin-right: 0;
    margin-left: 0;
}

.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright{
    text-align: right;
}

.wp-block-column:not(:last-child), .wp-block-column:nth-child(odd){
    margin-left: 0;
}

.wp-block-column:not(:first-child), .wp-block-column:nth-child(even){
    margin-right: 0;
}

.wp-block-separator.is-style-dots:before{
    padding-right: 0;
}

.wp-block-tag-cloud a, .entry-content .wp-block-tag-cloud a{
    margin-left: 5px;
    margin-right: 0;
}

.wp-block-search .wp-block-search__button{
    margin-right: 0;
}

.entry-content .alignleft, body.megaphone-sidebar-left .entry-content .alignleft, body.megaphone-sidebar-right .entry-content .alignleft{
    margin-left: 0;
}

.megaphone-sidebar-none .entry-content .alignleft{
    margin-right: 0;
}

.entry-content .alignright, body.megaphone-sidebar-left .entry-content .alignright, body.megaphone-sidebar-right .entry-content .alignright{
    margin-right: 0;
}

.megaphone-sidebar-none .entry-content .alignright{
    margin-left: 0;
}

.player-paceholder{
    padding: 12px 14px 12px 14px ;
}

.megaphone-mega-menu-play{
    right: 50%;
    left: auto;
    margin-right: -30px;
    margin-left: 0;
}

.placeholder-slot-l{
    margin-left: 10px;
    margin-right: 0;
}

.player-paceholder.player-paceholder-medium{
    text-align: right;
    padding: 14px 16px 14px 24px ;
}

.player-paceholder.player-paceholder-medium-single{
    text-align: right;
    padding: 18px 20px 18px 30px ;
}

.player-paceholder-medium .placeholder-slot-l, .player-paceholder-medium-single .placeholder-slot-l{
    margin-left: 10px;
    margin-right: 0;
}

.player-placeholder-on-white{
    padding: 0 0px 0 20px ;
}

.megaphone-overlay .megaphone-button, .megaphone-overlay  .megaphone-player-buttons .megaphone-overlay a, .megaphone-overlay .wp-block-button .wp-block-button__link, .wp-block-button .megaphone-overlay .wp-block-button__link, .megaphone-overlay .megaphone-section-instagram .section-title a, .megaphone-section-instagram .section-title .megaphone-overlay a, .entry-footer .megaphone-button, .entry-footer  .megaphone-player-buttons .entry-footer a, .entry-footer .wp-block-button .wp-block-button__link, .wp-block-button .entry-footer .wp-block-button__link, .entry-footer .megaphone-section-instagram .section-title a, .megaphone-section-instagram .section-title .entry-footer a{
    padding: 0 15px 0 15px ;
}

.megaphone-overlay .megaphone-button i, .megaphone-overlay .megaphone-player-buttons a i, .megaphone-player-buttons .megaphone-overlay a i, .megaphone-overlay .wp-block-button .wp-block-button__link i, .wp-block-button .megaphone-overlay .wp-block-button__link i, .megaphone-overlay .megaphone-section-instagram .section-title a i, .megaphone-section-instagram .section-title .megaphone-overlay a i, .entry-footer .megaphone-button i, .entry-footer .megaphone-player-buttons a i, .megaphone-player-buttons .entry-footer a i, .entry-footer .wp-block-button .wp-block-button__link i, .wp-block-button .entry-footer .wp-block-button__link i, .entry-footer .megaphone-section-instagram .section-title a i, .megaphone-section-instagram .section-title .entry-footer a i{
    margin-right: -4px;
    margin-left: 3px;
}

body .meks-ap{
    padding: 0 0 0 10px;
}

.meks-ap-slot-l{
    padding: 0 80px 0 0 ;
    text-align: right;
}

.meks-ap-slot-l:after{
    left: 30px;
    right: auto;
}

.meks-ap-episode{
    text-align: right;
}

body .meks-ap-title{
    padding: 0 0 0 50px ;
}

.megaphone-player-action .megaphone-menu-subscribe, .megaphone-player-action .empty-list, .megaphone-player-action .megaphone-share-wrapper{
    left: 0;
    right: auto;
    padding: 10px 20px 10px 20px;
}
.megaphone-player-action .megaphone-menu-subscribe a{
    font-size: 1.4rem;
    width: 100%;
    flex: 0 0 100%;    
}

.megaphone-player-action li{
    text-align: right;
}

.megaphone-player-action .megaphone-share-wrapper{
    padding: 10px 20px 10px 10px ;
}

.megaphone-player-action .megaphone-share-wrapper .meks_ess .meks_ess.transparent a{
    margin-left: 20px;
    margin-right: 0;
}

.megaphone-player-action .megaphone-share-wrapper .meks_ess_share_label h5{
    text-align: right;
}

.megaphone-shows-list-big .megaphone-button-play-medium{
    margin-left: 20px;
    margin-right: 0;
}

.megaphone-shows-list-medium .megaphone-button-play-medium{
    margin-left: 15px;
    margin-right: 0;
}

.megaphone-shows-list-small .megaphone-button-play-small{
    margin-left: 15px;
    margin-right: 0;
}

.footer-widgets-center .widget_archive ul li .count, .footer-widgets-center .widget_categories ul li .count{
    margin-left: 0;
}

.footer-widgets-center .calendar_wrap, .footer-widgets-center select, .footer-widgets-center .widget_recent_comments>ul, .footer-widgets-center .widget_rss>ul, .footer-widgets-center .widget{
    margin-right: 0;
    margin-left: 0;
}

.megaphone-footer .search-alt button[type=submit]{
    left: 8px;
    right: auto;
}

.megaphone-goto-top{
    left: 15px;
    right: auto;
}

.megaphone-modal{
    right: 0;
    left: auto;
}

.megaphone-modal-close{
    left: 40px;
    right: auto;
}

.megaphone-modal.search-alt .search-field, .megaphone-modal.search-alt input[type=text]{
    text-align: right;
}

.megaphone-action-overlay{
    left: 0;
    right: 0;
}

.megaphone-action-overlay:after{
    right: 0;
    left: auto;
}


.megaphone-action-overlay .megaphone-action-close{
    left: 20px;
    right: auto;
}

.entry-content .mks_dropcap{
    margin-left: 20px;
    margin-right: 0;
}

.megaphone-section-instagram .section-title a{
    left: 0;
    right: auto;
}

.megaphone-bg-alt-1 .widget-inside.megaphone-bg-alt-1:after, .megaphone-bg-alt-2 .widget-inside.megaphone-bg-alt-2:after{
    right: 0;
    left: auto;
}

@media (min-width: 374px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .row, .wp-block-columns{
        margin-left: -7.5px;
        margin-right: -7.5px;
    }

    .offset-sm-0{
        margin-right: 0;
    }

    .offset-sm-1{
        margin-right: 8.3333333333%;
        margin-left: 0;
    }

    .offset-sm-2{
        margin-right: 16.6666666667%;
        margin-left: 0;
    }

    .offset-sm-3{
        margin-right: 25%;
        margin-left: 0;
    }

    .offset-sm-4{
        margin-right: 33.3333333333%;
        margin-left: 0;
    }

    .offset-sm-5{
        margin-right: 41.6666666667%;
        margin-left: 0;
    }

    .offset-sm-6{
        margin-right: 50%;
        margin-left: 0;
    }

    .offset-sm-7{
        margin-right: 58.3333333333%;
        margin-left: 0;
    }

    .offset-sm-8{
        margin-right: 66.6666666667%;
        margin-left: 0;
    }

    .offset-sm-9{
        margin-right: 75%;
        margin-left: 0;
    }

    .offset-sm-10{
        margin-right: 83.3333333333%;
        margin-left: 0;
    }

    .offset-sm-11{
        margin-right: 91.6666666667%;
        margin-left: 0;
    }

    .col, [class*="col-"], .wp-block-column{
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

}

@media only screen and (min-width: 600px){
    .pl-48{
        padding-right: 24px;
        padding-left: 0;
    }

    .pr-0{
        padding-left: 0;
    }

    .megaphone-triangle{
        right: -20px;
        left: auto;
        border-width: 0 20px 40px 0 ;
    }

    .megaphone-triangle-after{
        border-width: 40px 0 0 20px ;
        left: -20px;
        right: auto;
    }

    .entry-header .episode-item{
        margin-right: 40px;
        margin-left: 20px;
    }

    .comment-body .reply{
        left: 0;
        right: auto;
    }

    #reply-title small{
        left: 0;
        right: auto;
    }

    .entry-media .wp-caption-text{
        left: 20px;
        right: auto;
    }

    .wp-block-button.alignleft, .megaphone-sidebar-none .wp-block-button.alignleft{
        margin-right: 0;
        margin-left: 37.5px;
    }

    .wp-block-button.alignright, .megaphone-sidebar-none .wp-block-button.alignright{
        margin-left: 0;
        margin-right: 37.5px;
    }

    .wp-block-button.alignleft+.alignleft{
        margin-right: -25px;
        margin-left: 0;
    }

    .wp-block-pullquote{
        margin-right: -30px;
        margin-left: -30px;
    }

    .entry-content .alignleft, body.megaphone-sidebar-left .entry-content .alignleft, body.megaphone-sidebar-right .entry-content .alignleft{
        float: right;
        margin-left: 30px;
        margin-right: 0;
    }

    .entry-content .alignright, body.megaphone-sidebar-left .entry-content .alignright, body.megaphone-sidebar-right .entry-content .alignright{
        float: left;
        margin-right: 30px;
        margin-left: 0;
    }

    .player-paceholder{
        padding: 18px 20px 18px 28px ;
    }

    .placeholder-slot-l{
        margin-left: 15px;
        margin-right: 0;
    }

    .player-paceholder.player-paceholder-medium{
        padding: 14px 16px 14px 24px ;
    }

    .player-paceholder.player-paceholder-medium-single{
        padding: 18px 20px 18px 30px ;
    }

    .player-paceholder-medium .placeholder-slot-l, .player-paceholder-medium-single .placeholder-slot-l{
        margin-left: 12px;
        margin-right: 0;
    }

    .megaphone-overlay .megaphone-button, .megaphone-overlay  .megaphone-player-buttons .megaphone-overlay a, .megaphone-overlay .wp-block-button .wp-block-button__link, .wp-block-button .megaphone-overlay .wp-block-button__link, .megaphone-overlay .megaphone-section-instagram .section-title a, .megaphone-section-instagram .section-title .megaphone-overlay a, .entry-footer .megaphone-button, .entry-footer  .megaphone-player-buttons .entry-footer a, .entry-footer .wp-block-button .wp-block-button__link, .wp-block-button .entry-footer .wp-block-button__link, .entry-footer .megaphone-section-instagram .section-title a, .megaphone-section-instagram .section-title .entry-footer a{
        padding: 0 20px 0 20px ;
    }

    .megaphone-overlay .megaphone-button i, .megaphone-overlay .megaphone-player-buttons a i, .megaphone-player-buttons .megaphone-overlay a i, .megaphone-overlay .wp-block-button .wp-block-button__link i, .wp-block-button .megaphone-overlay .wp-block-button__link i, .megaphone-overlay .megaphone-section-instagram .section-title a i, .megaphone-section-instagram .section-title .megaphone-overlay a i, .entry-footer .megaphone-button i, .entry-footer .megaphone-player-buttons a i, .megaphone-player-buttons .entry-footer a i, .entry-footer .wp-block-button .wp-block-button__link i, .wp-block-button .entry-footer .wp-block-button__link i, .entry-footer .megaphone-section-instagram .section-title a i, .megaphone-section-instagram .section-title .entry-footer a i{
        margin-right: -6px;
        margin-left: 0;
    }

    body .meks-ap-title{
        padding: 0 0 0 60px ;
    }

    .megaphone-goto-top{
        left: 20px;
        right: auto;
    }

    .meks-ap .meks-ap-toggle{
        padding: 0;
        top: -6px;        
    }

}

@media (min-width: 600px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .row, .wp-block-columns{
        margin-left: -15px;
        margin-right: -15px;
    }

    .offset-md-0{
        margin-right: 0;
    }

    .offset-md-1{
        margin-right: 8.3333333333%;
        margin-left: 0;
    }

    .offset-md-2{
        margin-right: 16.6666666667%;
        margin-left: 0;
    }

    .offset-md-3{
        margin-right: 25%;
        margin-left: 0;
    }

    .offset-md-4{
        margin-right: 33.3333333333%;
        margin-left: 0;
    }

    .offset-md-5{
        margin-right: 41.6666666667%;
        margin-left: 0;
    }

    .offset-md-6{
        margin-right: 50%;
        margin-left: 0;
    }

    .offset-md-7{
        margin-right: 58.3333333333%;
        margin-left: 0;
    }

    .offset-md-8{
        margin-right: 66.6666666667%;
        margin-left: 0;
    }

    .offset-md-9{
        margin-right: 75%;
        margin-left: 0;
    }

    .offset-md-10{
        margin-right: 83.3333333333%;
        margin-left: 0;
    }

    .offset-md-11{
        margin-right: 91.6666666667%;
        margin-left: 0;
    }

    .col, [class*="col-"], .wp-block-column{
        padding-left: 15px;
        padding-right: 15px;
    }

    .ml-md-0{
        margin-right: 0px;
    }

    

}

@media only screen and (min-width: 900px){
    .pl-48{
        padding-right: 48px;
        padding-left: 0;
    }

    .pr-0{
        padding-left: 0;
    }

    .slot-r ul+ul, .slot-r nav+ul, .slot-r div+ul{
        margin-right: 20px;
        margin-left: 0;
    }

    .slot-l ul+ul, .slot-l nav+ul, .slot-l div+ul{
        margin-left: 20px;
        margin-right: 0;
    }

    .slot-l .megaphone-search{
        margin-left: 20px;
        margin-right: 0;
    }

    .slot-l>nav>ul>li{
        padding-right: 10px;
        padding-left: 10px;
    }

    .slot-r>nav>ul>li, .slot-r>div>nav>ul>li{
        padding-right: 10px;
        padding-left: 10px;
    }

    .slot-r>nav>ul>li:last-child, .slot-r>div>nav>ul>li:last-child{
        padding-left: 0;
        padding-right: 13px;
    }

    .slot-c>nav>ul>li{
        padding-right: 10px;
        padding-left: 10px;
    }

    .slot-c ul+ul, .slot-c nav+ul, .slot-c div+ul{
        margin-right: 20px;
        margin-left: 0;
    }

    .header-bottom .slot-r nav>ul>li{
        padding-right: 10px;
        padding-left: 10px;
    }

    .header-bottom .megaphone-site-branding+nav, .header-bottom .megaphone-site-branding+.d-lg-flex nav{
        margin-right: 20px;
        margin-left: 0;
    }

    .header-bottom .slot-r ul+ul, .header-bottom .slot-r nav+ul{
        margin-right: 20px;
        margin-left: 0;
    }

    .header-bottom .slot-c nav>ul>li{
        padding-right: 10px;
        padding-left: 10px;
    }

    .header-bottom .slot-c nav+ul, .header-bottom .slot-c ul+ul{
        margin-right: 20px;
        margin-left: 0;
    }

    .header-bottom .slot-c .megaphone-menu-social{
        margin-right: 20px;
        margin-left: 0;
    }

    .header-sticky-main .slot-c>div>nav>ul>li{
        padding-right: 10px;
        padding-left: 10px;
    }

    .header-sticky-main .slot-l>div>nav>ul>li{
        padding-right: 10px;
        padding-left: 10px;
    }

    .megaphone-site-branding+nav, .megaphone-site-branding+.d-lg-flex nav{
        margin-right: 20px;
        margin-left: 0;
    }

    .megaphone-header ul.megaphone-menu .megaphone-mega-menu>.sub-menu{
        padding: 28px 28px 28px 28px ;
        right: 30px;
        left: auto;
    }

    .comment>.children{
        padding: 0 40px 0 0 ;
    }

    .megaphone-sidebar-none .megaphone-author-box{
        margin-left: -46px;
        margin-right: -46px;
    }

    .entry-media .wp-caption-text{
        left: 30px;
        right: auto;
    }

    .wp-block-button.alignleft, .megaphone-sidebar-none .wp-block-button.alignleft{
        margin-right: 0;
    }

    .wp-block-button.alignright, .megaphone-sidebar-none .wp-block-button.alignright{
        margin-left: 0;
    }

    .wp-block-pullquote{
        margin-right: -50px;
        margin-left: -50px;
    }

    .entry-content .alignleft, body.megaphone-sidebar-left .entry-content .alignleft, body.megaphone-sidebar-right .entry-content .alignleft{
        margin-left: 50px;
        margin-right: 0;
    }

    .megaphone-sidebar-none .entry-content .alignleft{
        margin-right: -142px;
        margin-left: 30px;
    }

    .entry-content .alignright, body.megaphone-sidebar-left .entry-content .alignright, body.megaphone-sidebar-right .entry-content .alignright{
        margin-right: 50px;
        margin-left: 0;
    }

    .megaphone-sidebar-none .entry-content .alignright{
        margin-left: -142px;
        margin-right: 30px;
    }

    .player-paceholder{
        padding: 22px 24px 22px 32px ;
    }

    .placeholder-slot-l{
        margin-left: 20px;
        margin-right: 0;
    }

    body .meks-ap-title{
        padding: 0 0 0 110px ;
    }

}

@media (min-width: 900px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .row, .wp-block-columns{
        margin-left: -15px;
        margin-right: -15px;
    }

    .offset-lg-0{
        margin-right: 0;
    }

    .offset-lg-1{
        margin-right: 8.3333333333%;
        margin-left: 0;
    }

    .offset-lg-2{
        margin-right: 16.6666666667%;
        margin-left: 0;
    }

    .offset-lg-3{
        margin-right: 25%;
        margin-left: 0;
    }

    .offset-lg-4{
        margin-right: 33.3333333333%;
        margin-left: 0;
    }

    .offset-lg-5{
        margin-right: 41.6666666667%;
        margin-left: 0;
    }

    .offset-lg-6{
        margin-right: 50%;
        margin-left: 0;
    }

    .offset-lg-7{
        margin-right: 58.3333333333%;
        margin-left: 0;
    }

    .offset-lg-8{
        margin-right: 66.6666666667%;
        margin-left: 0;
    }

    .offset-lg-9{
        margin-right: 75%;
        margin-left: 0;
    }

    .offset-lg-10{
        margin-right: 83.3333333333%;
        margin-left: 0;
    }

    .offset-lg-11{
        margin-right: 91.6666666667%;
        margin-left: 0;
    }

    .col, [class*="col-"], .wp-block-column{
        padding-left: 15px;
        padding-right: 15px;
    }

    .ml-0{
        margin-right: 0px;
    }

  

}

@media (max-width: 1100px) and (min-width: 900px){
    body .meks-ap-title{
        padding: 0 0 0 60px ;
    }

}

@media only screen and (min-width: 1102px){
    .pl-48{
        padding-right: 48px;
        padding-left: 0;
    }

    .pr-0{
        padding-left: 0;
    }

    .slot-r ul+ul, .slot-r nav+ul, .slot-r div+ul{
        margin-right: 0;
        margin-left: 0;
    }

    .slot-l ul+ul, .slot-l nav+ul, .slot-l div+ul{
        margin-left: 26px;
        margin-right: 0;
    }

    .slot-l .megaphone-search{
        margin-left: 20px;
        margin-right: 0;
    }

    .slot-l>nav>ul>li{
        padding-right: 13px;
        padding-left: 13px;
    }

    .slot-r>nav>ul>li, .slot-r>div>nav>ul>li{
        padding-right: 13px;
        padding-left: 13px;
    }

    .slot-r>nav>ul>li:last-child, .slot-r>div>nav>ul>li:last-child{
        padding-left: 0;
    }

    .slot-c>nav>ul>li{
        padding-right: 13px;
        padding-left: 13px;
    }

    .slot-c ul+ul, .slot-c nav+ul, .slot-c div+ul{
        margin-right: 26px;
        margin-left: 0;
    }

    .header-bottom .slot-r nav>ul>li{
        padding-right: 13px;
        padding-left: 13px;
    }

    .header-bottom .megaphone-site-branding+nav, .header-bottom .megaphone-site-branding+.d-lg-flex nav{
        margin-right: 26px;
        margin-left: 0;
    }

    .header-bottom .slot-r ul+ul, .header-bottom .slot-r nav+ul{
        margin-right: 26px;
        margin-left: 0;
    }

    .header-bottom .slot-c nav>ul>li{
        padding-right: 13px;
        padding-left: 13px;
    }

    .header-bottom .slot-c nav+ul, .header-bottom .slot-c ul+ul{
        margin-right: 26px;
        margin-left: 0;
    }

    .header-bottom .slot-c .megaphone-menu-social{
        margin-right: 26px;
        margin-left: 0;
    }

    .header-sticky-main .slot-c>div>nav>ul>li{
        padding-right: 13px;
        padding-left: 13px;
    }

    .header-sticky-main .slot-l>div>nav>ul>li{
        padding-right: 13px;
        padding-left: 13px;
    }

    .megaphone-site-branding+nav, .megaphone-site-branding+.d-lg-flex nav{
        margin-right: 26px;
        margin-left: 0;
    }

    .megaphone-header ul.megaphone-menu .megaphone-mega-menu>.sub-menu{
        padding: 48px 48px 48px 48px ;
        right: 50px;
        left: auto;
    }

    .megaphone-sidebar-none .megaphone-author-box{
        margin-left: -46px;
        margin-right: -46px;
    }

    .wp-block-pullquote{
        margin-right: -50px;
        margin-left: -50px;
    }

    .megaphone-goto-top{
        left: 20px;
        right: auto;
    }

}

@media (min-width: 1102px){
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }

    .row, .wp-block-columns{
        margin-left: -25px;
        margin-right: -25px;
    }

    .offset-xl-0{
        margin-right: 0;
    }

    .offset-xl-1{
        margin-right: 8.3333333333%;
        margin-left: 0;
    }

    .offset-xl-2{
        margin-right: 16.6666666667%;
        margin-left: 0;
    }

    .offset-xl-3{
        margin-right: 25%;
        margin-left: 0;
    }

    .offset-xl-4{
        margin-right: 33.3333333333%;
        margin-left: 0;
    }

    .offset-xl-5{
        margin-right: 41.6666666667%;
        margin-left: 0;
    }

    .offset-xl-6{
        margin-right: 50%;
        margin-left: 0;
    }

    .offset-xl-7{
        margin-right: 58.3333333333%;
        margin-left: 0;
    }

    .offset-xl-8{
        margin-right: 66.6666666667%;
        margin-left: 0;
    }

    .offset-xl-9{
        margin-right: 75%;
        margin-left: 0;
    }

    .offset-xl-10{
        margin-right: 83.3333333333%;
        margin-left: 0;
    }

    .offset-xl-11{
        margin-right: 91.6666666667%;
        margin-left: 0;
    }

    .col, [class*="col-"], .wp-block-column{
        padding-left: 25px;
        padding-right: 25px;
    }

}

@media screen and (min-width: 2000px){
    body .meks-ap{
        right: 50%;
        left: auto;
        margin-right: -960px;
        margin-left: 0;
    }

}

@media (max-width: 1185px){
    .wa-layout-3 .megaphone-menu-subscribe li a::before, .single-layout-5 .megaphone-menu-subscribe li a::before{
        margin-left: 0;
    }

}

@media (max-width: 1023px){
    .megaphone-shows-list-medium .megaphone-button-play-medium, .megaphone-shows-list-big .megaphone-button-play-medium{
        margin-left: 15px;
        margin-right: 0;
    }

}

@media (max-width: 899px){
    .meks-ap .meks-ap-slot-l{
        padding: 0 90px 0 80px ;
        right: 0;
        left: auto;
    }
    .meks-ap .meks-ap-next{
        right: 0;
        left: auto;        
    }
    .meks-ap .meks-ap-prev {
        right: 40px;
    }

    .meks-ap .meks-ap-prev i.mf.mf-chevron-left:before{
        content: "\e902"
    }
    .meks-ap .meks-ap-next i.mf.mf-chevron-right:before{
        content: "\e903"
    }
    body .meks-ap {
        padding: 0 20px 0 0px;
    }
    body .meks-ap .meks-ap-toggle{
        top: -6px;
    }
    body .meks-ap-collapsed .meks-ap-toggle{
        top: 0
    }

    body .meks-ap-title{
        margin-right: 10px;
        margin-left: 0;
    }

    .meks-ap .meks-ap-slot-r{
        padding-right: 15px;
        padding-left: 0;
    }




    .slot-r div+ul, .slot-r nav+ul, .slot-r ul+ul{
        margin-right: 10px;
        margin-left: 0;
    }

    .megaphone-menu-action .mf{
        margin-right: 0;
    }
    .meks-ap .meks-ap-slot-r .megaphone-player-action{
        right: auto !important;
    }
    .meks-ap .meks-ap-slot-r .megaphone-player-action:first-of-type {
        left: 80px;
    }
    .meks-ap .meks-ap-slot-r .megaphone-player-action +.megaphone-player-action{
        left: 40px;  
    }
    .meks-ap .meks-ap-slot-r .megaphone-player-action:last-of-type{
        left: 0;
    }


}

@media (max-width: 599px){
    .megaphone-menu-subscribe li a::before{
        margin-left: 0;
    }

    .slot-r div+ul, .slot-r nav+ul, .slot-r ul+ul{
        margin-right: 5px;
        margin-left: 0;
    }

    .megaphone-menu-donate.megaphone-menu-action li{
        margin-left: 3px;
        margin-right: 0;
    }

    .megaphone-menu-donate li a:before{
        margin-left: 0;
    }

}

@media (max-width: 500px){
    .meks-ap .meks-ap-slot-r{
        padding-right: 0;
    }

}

.meks-ap{
    float: right;
}

.meks-ap-title{
    text-align: right;
}

.meks-ap-player{
    padding: 0 10px 0 30px ;
}

.meks-ap-prev, .meks-ap-next{
    right: 0;
    left: auto;
}

.meks-ap-player iframe{
    padding: 0 0px 0 0 ;
    margin-right: 0;
}

.mejs-container{
    text-align: right;
}

.mejs-controls{
    right: 0;
    left: auto;
}

.mejs-button>button{
    background: right  0;
}

.mejs-play>button:before{
    margin-right: 3px;
    margin-left: 0;
}

.mejs-time-rail{
    direction: rtl;
}

.mejs-time-total{
    background: hsla(0, 100% 100%, .3);
}

.mejs-time-buffering{
    background: linear-gradient(-45deg, hsla(0, 100% 100%, .4) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .4) 0, hsla(0, 0%, 100%, .4) 75%, transparent 0, transparent);
}

.mejs-time-loaded{
    background: hsla(0, 100% 100%, .3);
}

.mejs-time-current, .mejs-time-handle-content{
    background: hsla(0, 100% 100%, .9);
}

.mejs-time-hovered{
    background: hsla(0, 100% 100%, .5);
}

.mejs-time-buffering, .mejs-time-current, .mejs-time-hovered, .mejs-time-loaded{
    right: 0;
    left: auto;
}

.mejs-time-handle, .mejs-time-handle-content{
    right: 0;
    left: auto;
}

.mejs-time-handle-content{
    right: -7px;
    left: auto;
}

.mejs-time-float-current{
    right: 0;
    left: auto;
}

.mejs-time-float-corner{
    right: 50%;
    left: auto;
}


.mejs-volume-button:hover{
    border-radius: 0 0 4px 4px;
}

.mejs-volume-current{
    right: 0;
    left: auto;
}

.mejs-volume-current, .mejs-volume-handle{
    background: hsla(0, 100% 100%, .9);
}

.mejs-volume-handle{
    right: 50%;
    left: auto;
}

.mejs-horizontal-volume-current, .mejs-horizontal-volume-total{
    right: 0;
    left: auto;
}

.mejs-horizontal-volume-current{
    background: hsla(0, 100% 100%, .8);
}

.mejs-captions-button>button{
    background-position: right -140px right ;
}

.mejs-chapters-button>button{
    background-position: right -180px right ;
}

.mejs-captions-button>.mejs-captions-selector, .mejs-chapters-button>.mejs-chapters-selector{
    margin-left: -43px;
    margin-right: 0;
    left: 50%;
    right: auto;
}

.mejs-chapters-button>.mejs-chapters-selector{
    margin-left: -55px;
    margin-right: 0;
}

.mejs-captions-selector-input, .mejs-chapters-selector-input{
    float: right;
    right: -1000px;
    left: auto;
    margin: 3px 5px 0 3px ;
}

.mejs-captions-selector-label, .mejs-chapters-selector-label{
    float: right;
}

.mejs-captions-layer{
    right: 0;
    left: auto;
}

.mejs-captions-position{
    right: 0;
    left: auto;
}

.mejs-captions-text, .mejs-captions-text *{
    background: hsla(0, 100% 8%, .5);
}

.mejs-overlay-error>img{
    right: 0;
    left: auto;
}

.mejs__speed-selector-input, .mejs-speed-selector-input{
    float: right;
    right: -1000px;
    left: auto;
    margin: 3px 5px 0 3px ;
}

.mejs__speed-selector-label, .mejs-speed-selector-label{
    float: right;
    margin-right: 0;
}
body .meks-ap-title{
    text-align: right;
}
.meks-ap-slot-l{
    clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.megaphone-triangle:before{
    transform: skew(27deg,0);
}
/* Additional Fixes */


.section-content.row,
.row, .wp-block-columns,
.wp-block-gallery,
.wp-block-gallery *,
.header-middle > .container, 
.header-sticky .container,
.header-top  .container,
.header-bottom  .container,
.slot-l,
.slot-r,
.slot-c,
.slot-r > div,
.header-mobile .container,
.megaphone-sidebar .megaphone-sidebar-branding{
    direction: ltr;
}
body.megaphone-sidebar-none .alignwide{
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);    
}
body .megaphone-share-wrapper .meks_ess a{
    margin-right: 0;
    margin-left: 5px;
}
.megaphone-archive-no-image .row,
.single-layout-5 .row{
    direction: rtl;
}

.megaphone-pagination .next a:after, .megaphone-pagination a.next:after {
    content: "\e902";
}
.megaphone-pagination .prev a:before, .megaphone-pagination a.prev:before {
    content: "\e903";
}
.has-arrows .owl-nav{
    flex-flow: row-reverse;
}
.megaphone-overlay .row{
    direction: rtl;
}
.megaphone-player-action .meks_ess a:before{
    margin-left: 10px;
}


.link-uppercase .mf-chevron-right:before,
i.mf.mf-chevron-right:before{
    content: "\e902";
}
i.mf.mf-chevron-left:before{
    content: "\e903";
}
body .meks-ap .meks-ap-toggle{
    right: auto;
    left: 0;   
}


.meks-ap-slot-l .meks-ap-next{
    top: 0;
    bottom: auto;
}
.meks-ap-slot-l .meks-ap-prev{
    bottom: 0;
    top: auto;
}

